*{
    /* outline: solid red 1px; */
    font-family: 'Raleway' , 'Noto Sans TC' , sans-serif;
    box-sizing: border-box;
} 

.template{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: auto;
    /* opacity: .5; */
}

body {
    margin: 0;
    min-width: 1440px;
}

.header , .footer {
    background-color: #535151;
}

.header__container {
    margin: 0 auto;
    padding: 15px 0 30px;
    font-size: 0;
    width: fit-content;
}

h1 {
    display: inline-block;
    padding: 30px 0;
}

h1 a{
    text-decoration:none ;
    color: #b9b9b9;
    font-size: 32px;
    letter-spacing  : .2em;
}

.header__container nav {
    width: 1200px;
    display: inline-block;
    vertical-align: middle;
}

.header__container nav > a {
    margin-left: 90px;
    padding: 30px 0;
    display: inline-block;
    color: #9b9a9a;
    font-size: 24px;
    text-decoration:none ;
}

.header__container nav > a:hover {
    color: #ececec;
}


.header__container > a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 90px;
}

.header__container > a img {
    width: 50px;
    font-size: 24px;
}

.entrance {
    text-align: center;
}

.entrance__background {
    height: 950px;
    background-image: url("img/cover.jpg");
    background-position:center;
    background-size: cover;
}

.entrance__focus {
    position: relative;
    top: 40%;
    left: 50%;
    transform:translate( -50% , 0 );
    padding: 48px 0 0;
    width: 800px;
    background-color: rgba(255,255,255,.5);
}

.entrance__focus h2 {
    margin: 0;
    font-size: 72px;
    color: #303132;
    font-family: 'Times New Roman';
    letter-spacing: .1em;
}

.entrance__focus a {
    margin: 32px 0;
    padding: 16px 80px;
    display: inline-block;
    background-color: #303132;
    font-size: 32px;
    color: #e0e0e0;
    text-decoration: none;
}

.entrance span {
    padding: 20px;
    display: block;
    background-color: #e3e3e3;
    font-size: 18px;
    color: #303132;
    letter-spacing: .4em;
}

.banner {
    padding: 90px 0;
}

.banner__title {
    text-align: center;
}

.banner__title h2 {
    margin: 0;
    font-family: 'Times New Roman';
    font-size: 48px;
    color: #303132;
    letter-spacing: .4em;

}

.banner__title span {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
}

.banner__title span:after {
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , 0 );
    background: #303132;
}    

.banner__title h3 {
    margin: 0;
    font-size: 24px;
    letter-spacing: .4em
}

.banner__items {
    margin: 0 auto;
    padding: 90px 0 0;
    width: fit-content;
    font-size: 0;
}

.banner__items a {
    display: inline-block;
    height: 600px;
    width: 440px;
    vertical-align: top;
}

.banner__items a + a {
    margin-left: 10px;
}

.banner__items a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-size: 24px;
}

footer {
    color: #f9f9f9cb;
    font-size: 20px;
    font-weight: 600;
}

.footer__container {
    margin: 0 auto;
    padding: 90px 0;
    width: fit-content;
    font-size: 0;
}

.footer__medialink ,
.footer__getmail ,
.footer__assistance{
    width: 440px;
    display: inline-block;
    vertical-align: top;
}

.footer__medialink {
    padding-left: 60px;
    font-size: 20px;
}

.footer__medialink span {
    display: block;
    margin-bottom: 10px;
}

.footer__medialink a {
    display: inline-block;
}

.footer__medialink a i {
    font-size: 28px;
    color: #f9f9f9cb;
}

.footer__medialink a + a {
    margin-left: 8px;
}

.footer__getmail {
    font-size: 20px;
    position: relative;
}

.footer__inputemail {
    margin: 5px 0;
    padding: 0 10px;
    background-color: #535151 ;
    width: 100%;
    border: 2px solid #f9f9f9cb;
    line-height: 2;
    color: #f9f9f9cb;
}

.footer__labelemail {
    position: absolute;
    pointer-events: none;
    top: 35px;
    left: 10px;
    transition: .2s ease;
    font-size: 16px;
}

.footer__inputemail:focus + .footer__labelemail ,
.footer__inputemail:not(:placeholder-shown) + .footer__labelemail {
    padding: 0 5px;
    background-color: #535151;
    top: 22px;
    left:6px;
    font-size:10px;
}

.footer__inputemail ~ i {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 35px;
    color: #f9f9f9cb;
    font-size: 0px;
}

.footer__inputemail:not(:placeholder-shown) ~ i {
    font-size: 16px;
} 

.footer__inputemail:not(:placeholder-shown) {
    padding-left: 30px ;
}

.footer__submit {
    margin-left: auto;
    padding: 10px 0;
    display: block;
    width: 130px;
    background-color: #d3d3d3;
    font-weight: 200 ;
}

.footer__assistance {
    padding-right: 60px;
    font-size: 20px;
}

.footer__assistance p {
    margin: 0 0 0 auto;
    width: 200px;
    text-align: center;
}

.footer__assistance p a {
    color: #f9f9f9cb;
    text-decoration: none;
}

.footer__copyright {
    display: block;
}

.footer__copyright {
    text-align: center;
    padding-bottom: 90px;
}

.footer__copyright span + span {
    text-decoration: underline 2px #353535;
    letter-spacing: .2em;
}