.template{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}
/* *{
    outline: 1px solid red;
} */

/*css reset */
*{
    padding:0 ;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    min-width: 960px;
}
.wrap_header{
    width: fit-content;
    margin: 0 auto;
    font-size: 0;

}
header{
    background-color: #585555;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 45px;
}
h1{
    display: inline-block;
    font-size:25px;
    color:#DCDCDC;
    font-family: sans-serif;
    letter-spacing: 3px;
    margin-right: 65px;
    vertical-align: middle;
}
nav{
    display: inline-block;
}
nav a{
    font-size: 16px;
    color: #DCDCDC;
    font-family: monospace;
    vertical-align: middle;
}
nav a:hover{
    color:#fff;
}
nav a+a{
    margin-left: 70px;
}

.shopping_cart{
    display: inline-block;
    width: 30px;
    float: right;
    margin-left: 50px;
}
.shopping_cart img{
    width: 100%;
    vertical-align: middle;
}
/* section1:banner */
.banner{
    padding-top: 288px;
    padding-bottom: 170px;
    background: url(img/cover.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.banner_inner{
    width: 550px;
    height: 150px;
    /* text-align: center; */
    padding-top: 26px;
    margin: 0 auto;
    background-color: rgba(250,250,250,0.6);
}
.banner_inner > div{
    width: fit-content;
    margin: 0 auto;
}
.banner_inner span{
    font-size:55px ;
    font-weight: bold;
    word-spacing: 10px;
}
.button{
    margin-top: 20px;
}

.button button{
    background-color: black;
    width: 215px;
    height: 38px;
    color:white;
    font-size: 20px;
    border-style: none;
    }

.button button:active { 
    background-color: gainsboro;
    color:black;
}
/* section2 */
.bar{
    text-align: center;
    font-family:sans-serif;
    font-size: 8px;
    letter-spacing: 5px;
    line-height: 45px;
    background-color: #DCDCDC;
}
.product{
    padding: 20px 0px;
}
.product h2{
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    /* background-color: coral; */
    margin: 20px 0;
}
.product hr{
    margin: 0 auto;
    width: 50px;
    border-color:#00008B ;

}
.product h3{
    text-align: center;
    margin: 30px 0;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 6px;
    /* background-color: cornflowerblue; */
}
.wrap_product{
    /* background-color: darkgoldenrod; */
    width: fit-content;
    margin: 0 auto;
    /* text-align: center; */
}
.wrap_img{
    display: inline-block;
    vertical-align: middle;
    height:415px;
    width: 307px;
}
.wrap_img img{
   height: 100%;
   width: 100%;
}
main{
    padding-bottom: 80px;
}
/* footer */
footer{
    padding-top: 80px;
    background: #000;
    font-family: sans-serif;
}
.wrap_footer{
    width: fit-content;
    margin: 0 auto;
    font-size: 0px;
}
.wrap_footer p{
    font-size: 14px;
}
.footer_social p{
    color:#DCDCDC;
    margin-bottom: 10px;
}
.footer_social{
    font-size: 0;
}
.footer_social a{
    display: inline-block;
    color: #fff;
}
.footer_social a:hover{
    color:#6495ED;
}
.footer_social a+a{
    margin-left: 10px;
}
.footer_social i{
    font-size: 24px;
    vertical-align: top;
}
.footer_social,.footer_email,.footer_contact{
    display: inline-block;
    vertical-align: top;
}
.footer_email{
    color:#DCDCDC;
}
.footer_email p{
    padding-bottom: 10px;
}
.footer_email input{
    width: 300px;
    height: 30px;
    background-color: black;
    border-color: #DCDCDC;
    /* margin-bottom:5px; */
}

.email input{
    color:#DCDCDC;
}
.footer_contact p{
    text-align: center;
    color:#fff;
    margin-bottom: 10px;
}
.footer_contact p:first-child{
    color:#DCDCDC;
}

.wrap_footer div+div{
    margin-left: 135px;
}
button{
    font-size: 14px;
    background-color:#DCDCDC;
    display: block;
    margin-left: auto;
    width: 87px;
    height: 30px;
    margin-top:10px ;
} 

.copyright{
    padding: 55px 0px;
    color:#fff;
    text-align: center;
}


.clearfix:after{
    content:'';
    display:table;
    clear:both;
  }