/* .....header..... */

body {
  background: #535151;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 61%;
}

header {
  padding: 18px 0;
}

header a {
  color: #cacaca;
  text-decoration: none;
}

header > a {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2em;
}

header nav {
  display: inline-block;
  font-size: 0;
  text-align: right;
  width: 73%;
}

header nav a {
  font-size: 1.1rem;
  font-weight: normal;
  padding: 20px;
  margin: 0 8px;
}

header nav a:hover {
  color: #fff;
}

header nav a:nth-last-child(1) {
  display: inline-block;
  line-height: 65px;
  vertical-align: middle;
  width: 35px;
  padding: 0;
  margin: 0 0 0 75px;
}

header .cart img {
  width: 100%;
}

/* .....main..... */

main {
  background: #fff;
  text-align: center;
}

main .carousel {
  background: url("../img/cover.jpg") no-repeat center center / cover;
  height: 667px;
  position: relative;
}

main .carousel .banner {
  box-sizing: border-box;
  height: 190px;
  width: 36.5%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .carousel .banner h1 {
  margin: 0;
  font-size: 4rem;
  font-family: "Noto Serif SC", serif;
  font-weight: bold;
  color: #303132;
}

main .carousel .banner button {
  font-size: 1.3rem;
  background: #303132;
  height: 44px;
  width: 235px;
  border: 0;
  color: #fff;
  font-weight: normal;
  padding: 0;
}

main .slogan {
  background: #e3e3e3;
  line-height: 49px;
  color: #535151;
  letter-spacing: 0.5em;
  margin: 0 auto;
}

main .bg-body {
  padding: 86px 0;
}

main section h2 {
  font-size: 2.5rem;
  font-family: "Noto Serif SC", serif;
  font-weight: bold;
  letter-spacing: 0.3em;
  color: #303132;
  margin-top: 0;
  margin-bottom: 30px;
}

main section hr {
  width: 30px;
  margin-top: 0;
  margin-bottom: 30px;
}

main section h3 {
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 0.3em;
  color: #303132;
  margin: 0;
}

main section .items {
  font-size: 0;
  margin-top: 82px;
}

main section .items a {
  display: inline-block;
  width: 32%;
}

main section .items a:nth-child(2) {
  margin: 0 2%;
}

main section .items a img {
  width: 100%;
}

/* .....footer..... */

footer {
  background: #535151;
  color: #cacaca;
  padding: 86px 0 66px 0;
  font-size: 0;
}

footer div {
  display: inline-block;
  vertical-align: top;
}

footer h6 {
  font-weight: normal;
  letter-spacing: 0.1em;
  font-size: 16px;
  margin: 0 0 5px 0;
}

footer a {
  color: #cacaca;
  text-decoration: none;
  font-size: 16px;
}

footer p {
  font-size: 16px;
  text-align: center;
  margin: 71px 0 0 0;
  letter-spacing: 0.1em;
}

footer .social {
  width: 34%;
  padding-left: 48px;
  box-sizing: border-box;
}

footer .social a {
  margin-right: 1.4em;
  display: inline-block;
}

footer .social a i {
  font-size: 1.7rem;
}

footer .member {
  width: 32%;
}

footer .member input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #cacaca;
  height: 34px;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0);
  color: #cacaca;
  margin-bottom: 10px;
}

footer input::placeholder {
  color: #cacaca;
  font-size: 16px;
}

footer .member button {
  width: 97px;
  height: 31px;
  border: 0;
  padding: 0;
  background: #cacaca;
  color: #535151;
  font-size: 1rem;
  display: block;
  margin-left: auto;
}

footer .info {
  width: 34%;
  text-align: center;
  padding-left: 50px;
  box-sizing: border-box;
}
