/* * {
    outline: 2px solid lightseagreen;
} */

body,
h1,
h2,
h3,
h4,
p,
hr {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.tbg {
    width: 100%;
    opacity: 30%;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    background-color: #535151;
}

nav {
    padding: 25px 0;
    margin: 0 auto;
    width: 1220px;
}

h1:hover {
    border-bottom: 3px solid lightsalmon;
    margin-bottom: -3px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo a {
    font-size: 26px;
    letter-spacing: 8px;
    color: #d2d2d2;
    padding: 10px 0;
}

.menu {
    display: inline-block;
    margin-left: 72px;
    vertical-align: middle;
}

.menu a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 21px;
    font-weight: 500;
    color: #d2d2d2;
}

.menu a+a {
    margin-left: 54px;
}

.menu a:hover {
    color: lightsalmon;
}

.shopping_chart {
    display: inline-block;
    font-size: 0;
    width: 46px;
    padding: 10px;
    vertical-align: middle;
    margin-left: 71px;
}

.banner_background {
    width: 1680px;
    height: 808px;
    margin: 0 auto;
    background: url(img/cover.jpg) center / cover no-repeat;
    display: flow-root;
}

.banner_text {
    width: 750px;
    text-align: center;
    margin: 350px auto 0;
    background: rgba(231, 228, 219, 0.7);
}

.banner_text h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 72px;
    line-height: 1.8;
    letter-spacing: 2px;
}

.button_shopnow {
    margin-bottom: 30px;
    display: inline-block;
    padding: 10px 80px;
    background-color: #303132;
    color: #fff;
    font-size: 27px;
}

.button_shopnow:hover {
    background-color: lightsalmon;
}

.demarcationline {
    background-color: #e3e3e3;
    font-family: 'Raleway', sans-serif;
    padding: 20px 0;
    text-align: center;
    letter-spacing: 5px;
}

.shoppinglist_title {
    margin-top: 73px;
}

.shoppinglist_title h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 52px;
    line-height: 1.8;
    letter-spacing: 11px;
    text-align: center;
}

.shoppinglist_title hr {
    width: 40px;
    margin: 23px auto;
}

.shoppinglist_title p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 25px;
    letter-spacing: 8px;
    padding: 16px 0;
}

.shoppinglist_picture {
    width: 1230px;
    margin: 80px auto 90px;
    font-size: 0;
}

.shoppinglist_picture a {
    display: inline-block;
    width: 400px;
}

.shoppinglist_picture a+a {
    margin-left: 15px;
}

footer {
    background-color: #535151;
    display: flow-root;
}

.footer_text {
    width: 1115px;
    margin: 100px auto;
    color: #d3d3d3;
    font-size: 0;
    text-align-last: justify;
}

.footer_text h3 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align-last: start;
    margin-bottom: 12px;
}

.footer_link {
    display: inline-block;
    width: 180px;
    vertical-align: top;
}

.icon {
    font-size: 0;
}

.icon a {
    display: inline-block;
}

.icon i {
    font-size: 29px;
    color: #d3d3d3;
}

.icon i:hover {
    color: lightsalmon;
}

.icon i+i {
    margin-left: 23px;
}

.footer_form {
    display: inline-block;
    width: 400px;
    font-size: 16px;
    vertical-align: top;
}

.inputemail {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: #535151;
    border: 2px #d3d3d3 solid;
    font-size: 20px;
    padding: 6px;
    margin-bottom: 12px;
    margin-right: 0;
    color: #fff;
}

.inputemail:focus {
    border-color: lightsalmon;
}

.button_submit {
    display: block;
    border-radius: 0;
    width: 120px;
    height: 36px;
    font-size: 18px;
    background-color: #d3d3d3;
    margin-left: auto;
    text-align-last: center;
}

.button_submit:hover {
    cursor: pointer;
    background-color: lightsalmon;
    color: #eee;
}

.footer_infomation {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    text-align-last: center;
    width: 196px;
}

.footer_infomation h3 {
    text-align-last: center;
}

.footer_infomation span:nth-child(2) {
    font-family: "Enriqueta", serif;
    font-size: 18px;
    color: #F4F4F4;
    display: block;
}

.footer_infomation span:nth-child(3) {
    line-height: 2;
    color: #F4F4F4;
    display: block;
}

.copyright {
    margin-top: 80px;
    font-size: 19px;
    text-align-last: center;
}