#bottomcontent {
  width:100%;
  height:auto;
}
#bottomcontent h1 {
  margin:40px;
  text-align: center;
  letter-spacing: 10px;
  font-size: 30px;
  font-weight: bold;
}
#bottomcontent hr {
  border:0;
  background-color: black;
  width:100px;
  height:1px;
}
#bottomcontent h2 {
  margin-top:20px;
  text-align: center;
  letter-spacing: 5px;
  font-family:arial;
  font-size: 14px;
  font-weight: normal;
}
#bottomcontent ul{
  width: 900px;
  height: 340px;
  margin:0 auto;
  text-align: center;
  padding:0;
}
#bottomcontent li {
  display:inline-block;
  margin:20px 10px;
  width:210px;
  height:300px;
  position:relative;
  overflow: hidden;
}
#bottomcontent img {
  width:210px;
  height:300px;
}
.uppp {
  position:absolute;
  bottom:0px;
  width:210px;
  height:0px;
  line-height: 50px;
  -webkit-transition: height 1s ease;
  transition:height 1s ease;
  color:white;
  font-family:arial;
  letter-spacing:3px;
  background-color: rgba(0, 0, 0, 0.8);
}
#bottomcontent li:hover .uppp {
  height:50px;

}
