footer>ul {
  margin: 0 auto;
  padding: 10px;
  height: 180px;
}
footer>ul>li {
  width:33%;
  float:left;
  margin:20px 1px;
  color: white;
  font-family:arial;
}
footer h3 {
  font-size: 12px;
  letter-spacing: 2px;
  font-family:arial;
  text-align: center;
  font-weight:normal;
}
footer>p {
  text-align: center;
  color: white;
  font-family:arial;
  font-size: 8px;
  letter-spacing: 2px;
}
#STAYCONNECTED img {
  width:20px;
  height:20px;
}
#STAYCONNECTED ul {
text-align: center;
margin-top: 20px;
}
#STAYCONNECTED li {
  display: inline;
  margin:5px;
}
#BEOURFRIEND div {
  margin-top: 20px;
  text-align: center;
}
#NEEDASSISTANCE p {
  margin:20px;
  text-align: center;
  font-size: 10px;
  letter-spacing: 2px;
}

#BEOURFRIEND input[type=email] {
  display: block;
  float: right;
  border-color: white;
  border-width: 1px;
  border-style:solid;
  height: 20px;
  width:70%;
  background-color: #414040;
  color:white;
}
#BEOURFRIEND input[type=submit] {
  display: block;
  clear:both;
  float: right;
  margin-top: 5px;
  border-color: white;
  border-width: 1px;
  border-style:solid;
  height: 20px;
  background-color:white ;
  color:#414040;
}
