header {
  background-color:#414041;
  width:100%;
  height:60px;
  position: relative;
}
#topcontent {
  width: 100%;
  height: 440px;
  background-image: url("img/cover.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
}
#bottomcontent {
  /*background-color: grey;*/
  width: 100%;
  height: 600px;
}
footer {
  background-color:#414040;
  width: 100%;
  height: 240px;
}
