#centerback {
  background-color: rgba(255, 255, 255, 0.5);
  width: 400px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -200px;
  font-size: 40px;
}
#fallwinter {
  font-size: 40px;
  text-align:center;
  margin-top:30px;
  font-weight: bold;
  color:#414041;
}
#shopnow a {
  display: block;
  width: 120px;
  height: 20px;
  padding:10px;
  margin:0 auto;
  margin-top: 10px;
  color:white;
  font-size: 16px;
  text-align:center;
  background-color: #414041;
  font-family:arial;
  -webkit-transition: width 0.5s ease;
  transition:width 0.5s ease;
}
#shopnow a:hover {
  background-color: grey;
  display: block;
  width: 130px;
}
#middlecontent {
  height:30px;
  line-height: 30px;
  text-align:center;
  font-family:arial;
  word-spacing:5px;
  background-color: #dbd9dd;
  color:#414041;
}
