
@font-face {
    font-family: Roboto-Light;
    src: url(font/Roboto-Light.ttf);
}

body{
    font-family: Roboto-Light;
    margin: 0;
    background-color: #141a24;
    height: 100vh;
}

.one{
    background-color: white;
    padding: 10px;
}
.one img{
    margin-left: 10px;
    display: inline-flex;
}
.select{
    display: inline-flex;
    float: inline-end;
}
.select a{
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    color: black;
}
.select a:hover{
    background-color: #EA0000;
    border-radius: 30px;
    color: white;
    transition: 0.5s;
}
.photo-one{
    width: 100vw;
}
.two{
    color: white;
    text-align: center;
}
.two h1{
    color: white;
    background-color: #EA0000;
    margin-left: 235px;
    margin-right: 235px;
    padding: 30px;
    font-weight: bold;
}
.two p{
    text-align: center;
    margin-left: 230px;
    margin-right: 230px;

}
.two hr{
    max-width: 200px;
}
