@font-face {
    font-family: Roboto-Light;
    src: url(font/Roboto-Light.ttf);
}
body{
    font-family: Roboto-Light;
    margin: 0;
    background-color: blanchedalmond;
    height: 100vh;
}

.header{
    position: relative;
    background-color: white;
    height: 100px;
}
.header img{
    margin: 32px;
    margin-left: 100px;
}
.header nav{
    margin: 40px;
    float: right;
    font-weight: bold;
}
.header nav a{
    text-decoration: none;
    padding: 10px;
    position: relative;
    color: black;
}
.header a:hover{
    background-color: #CE0000;
    border-radius: 40px;
    color: white;
}