/* css reset */
body,
h1 ,h2 ,button ,ul ,h3 ,p{ 
  margin: 0;
}
ul{
  padding: 0;
}
li{
  list-style: none;
}
/* css reset */
h1{
  font-family: Arial;
}
header {
  background: #535151;
}
.header-content {
  width: 1100px;
  margin: auto;
  font-size: 0;
}
h1 {
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
}
h1 a {
  padding: 20px;
  display: inline-block;
  color: #d2d2d2;
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 5px;
}
nav {
  width: 780px;
  display: inline-block;
  vertical-align: middle;
}
nav a {
  padding: 22px;
  text-decoration: none;
  color: #d2d2d2;
  font-size: 18px;
  display: inline-block;
  margin-left:20px;
  margin-right:20px; 
}
.header-content img{
  width: 40px;
  vertical-align: middle;
}
.banner{
  background: url("./img/cover.jpg") no-repeat;
  height: 750px;
  background-position: top center;
  background-size: cover;
  position: relative;
}
.banner-inner{
  position: absolute;
  left: 28%;
  top: 40%;
  font-size: 0;
  background-color:rgba(231, 228, 219, 0.7);
  text-align: center;
}
.banner-inner h2{
  font-family: "Times New Roman", Times, serif;
  margin: 25px 45px;
  font-size: 70px;
}
.t2img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}
.shopA{
  display: inline-block;
  width: 150px;
  height: 25px;
  color:white;
  padding: 10px 45px;
  background-color: #303132;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.FreeShippingWorlWide{
  background-color: #e3e3e3;
  padding: 15px 0;
  font-family: sans-serif, monospace;
  text-align: center;
  letter-spacing: 5px;
}
.content h3{
  font-size: 45px;
  letter-spacing: 15px;
  text-align: center;
  margin: 35px 0;
}
.content hr{
  width: 50px;
  border: 1px solid gray;
}
.content p{
  font-size: 20px;
  letter-spacing: 5px;
  text-align: center;
  margin: 35px 0 50px 0;
}
.content ul{
 text-align: center;
 margin-bottom:100px;
}
.content ul li{
  display: inline-block;
}
.content a{
  display: inline-block;
}
.content img{
  width:100%;
  height: 450px;
  vertical-align: top;
}
.content ul :nth-child(2){
  margin-left: 10px;
  margin-right: 10px;
}
footer{
  background:#535151;
  color: #d2d2d2;
  /* text-align: center; */
}
footer .horizontal_list_initial_inner >form{
    margin: 0 185px 0;
}
footer .horizontal_list_initial{
  height: 150px;
  padding: 50px 0 0 0;
}
.link{
  display:inline-block;
  vertical-align: top;
}
.link ul :nth-child(n+2):nth-child(-n+4){
  margin-left: 20px;
}
footer .stayConnected li{
  display: inline-block;
}
footer img{
  width: 20px;
}
.horizontal_list_initial h4{
  font-size: 15px;
  margin: 0 0 15px 0;
}
.horizontal_list_initial form{
  display: inline-block;
  vertical-align: top;
}
.horizontal_list_initial form input{
  display: block;
  width: 330px;
  height: 30px;
  background: #535151;
  border: 1px solid white;
  margin-bottom: 10px;
}
.horizontal_list_initial form button{
  display: block;
  margin-left: auto;
  width: 85px;
  padding:8px 5px 8px 5px;
}
.horizontal_list_initial .information{
  display:inline-block;
  vertical-align: top;
  margin: 10px 0 10px 0;
  text-align: center;
}
.horizontal_list_initial .information p{
  margin: 5px 0 5px 0;
}
.horizontal_list_initial_inner{
  width: 1050px;
  margin: auto;
}
.copyright{
  text-align: center;
  padding-bottom: 100px;
}