body {
  width: 100%;
  margin: 0;
}

.header {
  width: 1080px;
  margin: 0 auto;
}

.header_nav {
  height: 80px;
  background-color: #564f4f;
}

.header_nav_set {
  width: 960px;
  margin: 0 auto;
  color: #ffffff;
  font-family: sans-serif;
}

.header_nav_logo {
  line-height: 80px;
  float: left;
  font-size: 24px;
  margin: 0px;
}

.clearfix {
  clear: both;
}

.header_nav_list {
  height: 100%;
}

.header_nav_list ul {
  list-style-type: none;
  float: left;
}

.header_nav_list li {
  display: inline;
}

.header_nav_list a {
  color: #ffffff;
  text-decoration: none;
  size: 12px;
  margin-left: 30px;
}

.header_nav_list img {
  width: 25px;
  height: 25px;
  margin-left: 30px;
}

.header_background img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.header_bottom {
  height: 40px;
  background-color: blue;
}