footer {
  background-color: #535151;
  padding: 88px 313px 72px;
}

.company_information div {
  display: inline-block;
  vertical-align: top;
  font-family: "Kanit", sans-serif;
  font-size: 0px;
  letter-spacing: 1px;
  color: #bbbaba;
}

.company_information {
  margin-bottom: 76px;
}

.information_title {
  margin-bottom: 10px;
  font-size: 22px;
}

.social_media_link {
  width: 204px;
  margin-right: 220px;
  text-align: center;
}

.social_media_link a {
  display: inline-block;
  vertical-align: top;
}

.social_media_link i {
  vertical-align: top;
  color: #fafafa;
  font-size: 28px;
}

.social_media_link a:not(:last-child) {
  margin-right: 14px;
}

.send_email {
  width: 445px;
  margin-right: 200px;
}

.input_email {
  display: block;
  width: 440px;
  height: 34px;
  margin-bottom: 8px;
  border: 1px solid #fafafa;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fafafa;
}

.input_email::placeholder {
  color: #fafafa;
}

.input_button {
  display: block;
  width: 100px;
  height: 32px;
  margin-left: 345px;
  border: none;
  background-color: #bbbaba;
  font-size: 16px;
  cursor: pointer;
}

.send_email input:nth-child(3):active {
  border: 1px solid #535151;
}

.company_contact {
  width: 217px;
  text-align: center;
}

.company_contact div a {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fafafa;
}

.company_contact div a:nth-child(1) {
  margin-bottom: 8px;
}

.copyright {
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  color: #bbbaba;
}
