/* 使用字形
font-family: 'DM Serif Display', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Raleway', sans-serif; */

/* *{
    outline: 1px solid red;
} */

body{
    min-width: 1440px;
    margin: 0;
}

a{
    text-decoration: none;
    color: #ffffff;
}

header{
    background-color: #535151;
    padding-top: 30px;
    padding-bottom: 55px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

nav{
    width: 1400px;
    margin: 0 auto;
    text-align-last: justify;
    color:#D4D4D4;
}

h1{
    display: inline-block;
    margin:0;
    text-align-last: right;
    letter-spacing:7px;
}

h1>a{
    font-size:30px;
    color:#D4D4D4;
}

.nav_link{
    display: inline-block;
    font-size:20px;
}

.nav_link a{
    color:#D4D4D4;
}

.nav_link>a:not(:first-child){
    margin-left: 100px;
}

.nav_link a:hover{
    color:#FFFFFF;
}

nav>a {
    display: inline-block;
    width: 40px;
    margin-right:15px;
    vertical-align: bottom;
}

nav img{
    width: 100%;
}