html {
  overflow-x: hidden;
}

* {
  outline: 1px red solid;
  /* font-size: 0; */
}

/*疊圖抓尺寸*/
body > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

body {
  min-width: 1440px;
  margin: 0;
}

a {
  display: inline-block; /*作為圖的container & 文字連結加padding增加點擊面積*/
  color: #cbcaca;
  text-decoration: none;
}

a:hover {
  scale: 1.1;
}

header {
  padding: 40px 0px;
  background: #535151;
}

.centered_container {
  width: fit-content;
  margin: 0 auto;
  /* font-size: 0;  */
}

header > .centered_container {
  font-size: 0;
}

.logo {
  display: inline-block;
  margin: 0;
  font-size: 24px; /*font相關設定設在h1, 讓<a>繼承*/
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.3em;
}

.navbar {
  display: inline-block;
  margin-left: 70px;
  font-size: 18px;
}

.navbar a {
  padding: 5px;
}

.actived {
  color: white;
}

.navbar a:last-child {
  width: 32px;
  height: 36px;
  padding: 0;
  vertical-align: bottom; /*hackmd note*/
}

.navbar img {
  width: 100%;
  height: 100%;
}

nav a + a {
  margin-left: 60px;
}

.banner {
  box-sizing: border-box;
  height: 680px;
  padding-top: 285px;
  background-image: url("../img/cover.jpg");
  background-position: center top;
  background-size: cover;
}

.banner_text {
  width: 690px;
  margin: 0 auto;
  padding: 35px 0;
  background-color: rgb(255, 255, 255, 0.6);
  /* background-color: #eeeeee;
  opacity: 0.7; */
  /* 連按鈕也半透了 */
  text-align: center;
}

.banner_text h2 {
  margin: 0;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 55px;
}

.button {
  margin-top: 20px;
  padding: 5px 65px;
  color: #fafafb;
  font-size: 24px;
  background-color: #303132;
}

.shipping {
  padding: 10px 0;
  background-color: #e3e3e3;
}

.shipping h5 {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  color: #777777;
  letter-spacing: 0.3em;
}

.product {
  padding: 85px 0 100px;
}

.product_text {
  margin: 0;
  text-align: center;
}

.product h3 {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 36px;
  letter-spacing: 0.4em; /* 0.4em= font-size*0.4*/
}

.product hr {
  width: 30px;
  margin-top: 35px; /*hr top/bottom margin=8, 此處不消掉margin-bottom以margin-collapse吃掉重疊部分小的margin */
  border: none;
  border-top: 1px solid #69696a;
}

.product h4 {
  margin-top: 25px;
  font-family: "Catamaran", sans-serif;
  color: #202123;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 0.2em;
}

.product_img {
  margin-top: 70px;
  font-size: 0;
}

.product_img a {
  width: 320px;
  height: 475px;
}

.product_img img {
  width: 100%;
  height: 100%;
}

.product_img a + a {
  margin-left: 25px;
}

.product_img a:hover {
  scale: 1.01;
}

footer {
  padding: 80px 0;
  background: #535151;
}

footer > .centered_container {
  font-size: 0;
}

.box {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}

footer p {
  margin: 0;
  color: #cbcaca;
  font-size: 16px;
  font-family: "Catamaran", sans-serif;
  letter-spacing: 0.1em;
}

footer a {
  padding: 5px;
}

footer a:hover {
  color: white;
}

.icons i {
  font-size: 22px;
}

.icons {
  text-align-last: justify;
}

footer form {
  text-align: right;
}

footer form input {
  font-size: 16px;
}

footer .mail {
  width: 330px;
  padding: 5px 5px;
  border: 1px #cbcaca solid;
  color: #cbcaca;
  background: transparent;
}

footer .submit {
  margin-top: 10px;
  padding: 5px 10px;
  color: #585859;
  background: #d3d3d4;
  cursor: pointer;
}

footer .box:last-child a {
  padding: 0;
  font-size: 16px;
  text-align: center;
}

::placeholder {
  color: #cbcaca;
}

footer > p {
  width: fit-content;
  margin: 70px auto 0;
}

.block {
  display: block;
}
