body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-family: sans-serif;
}

.clear {
	clear: both;
}

.fixed-width {
	width: 858px;
	margin: 0px auto;
}

.zoomed {
	width: 150%;
}

.icon {
	float: left;
	padding-top: 40px;
}

.menu {
	float: left;
	width: 80%;
	height: 100%;
}

#navbar ul li span {
	color: #fff;
	line-height: 100px;
}

#navbar ul li img {
	padding-top: 38px;
}

#navbar ul li {
	list-style-type: none;
	float: left;
	height: 100%;
	margin: 0 30px 0 30px;
}

#navbar {
	background-color: #535152;
	height: 100px;
	width: 100%;
}

#cover {
	width: 100%;
	height: 440px;
	background-image: url("img/cover.jpg");
	background-position: center center;
	background-size: cover;
	position: relative;
}

#message-box {
	height: 150px;	
	width: 436px;	
	background-color: rgba(255, 255, 255, 0.55);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -55px;
	margin-left: -218px;
}

#message-box h1 {
	font-family: serif;	
	text-transform: uppercase;
	font-size: 42px;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 13px;
}

#message-box .button {
	height: 25px;
	width: 155px;
	padding-top: 8px;
	font-size: 14px;
	text-align: center;
	margin: 0 auto;
}

.description {
	text-align: center;
	padding-top: 11px;
	position: absolute;
	bottom: 0;
	height: 32px;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#content h1 {
	font-family: serif;
	letter-spacing: 7px;
	margin: 45px 0 23px 0;
	text-transform: uppercase;
}

#content h2 {
	letter-spacing: 5px;
	margin: 23px 0 25px 0;
	font-weight: normal;
	font-size: 18px;
}

#content {
	text-align: center;	
}

.items-row {
	text-align: center;
	height: 220px;
	margin: 40px 0 80px 0;
}

.item {
	float: left;
	position: relative;
	width: 270px;
	margin: 0 8px 0 8px;
}

.item img {
	width: 270px;
}

.gray-colored {
	color: #000;
	background-color: #eee;
}

.mono-colored {
	color: #fff;	
	background-color: #000;
}