html {
    /*
    1. Correct the line height in all browsers.
    2. Prevent adjustments of font size after orientation changes in iOS.
    */
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box;
}

body {
    font-family: 'helvetica', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding-top: 110px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


a {
    text-decoration: none;
}

header {
    background: #525050;
    padding: 40px 0 30px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.nav {
    margin: auto;
    width: 75%;
}

.nav::after {
    content: '';
    display: block;
    clear: both;
}

.nav > a {
    color: #bebebe;
    text-shadow: 0 0 2px #000;
    font-weight: 700;
    margin-right: 7%;
    font-size: 1.15rem;
    float: left;
    padding-top: 5px;
}

.nav > a:hover{
    color: #fff;
}

.nav > .nav__brandName {
    font-size: 1.6rem;
    letter-spacing: 0.2em;
    padding: 0;
    text-transform: uppercase;
}


.nav > a:last-child {
    margin: 0;
}

.nav > .nav__cartLink {
    padding-top: 0;
}

.nav__cartLink > .nav__cartPhoto {
    max-width: 30px;
    position: relative;
    top: -5px;
}


/* banner */

.banner__campaign {
    background: url(../images/cover.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    height: 568px;
}

.banner__campaign > .banner__season{
    display: inline-block;
    background: rgba(255,255,255,.5);
    padding: 30px 60px;
    position: absolute;
    font-size: 4rem;
    font-family: -webkit-pictograph;
    text-transform: uppercase;
    font-weight: 700;
    color: #2c2d2e;
    transform: translateX(-50%);
    top: 45%;
}

.banner__callToAction {
    display: block;
    font-size: 1.3rem;
    color: #fff;
    background: #2c2d2e;
    width: 55%;
    margin: 20px auto 0;
    padding: 15px 0;
    font-family: sans-serif;
    text-transform: capitalize;

}

.shippingMessage {
    background: #ddd;
    color: #555;
    text-align: center;
    padding: 15px 0;
    font-size: 1.1rem;
    letter-spacing: .2em;
    text-transform: uppercase;
}


/* mustHave */

.mustHave {
    text-align: center;
    padding: 80px 0;
}

.mustHave > .mustHave__title {
    position: relative;
    text-transform: uppercase;
    font-family: serif;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .2em;
    margin: 0;
}

.mustHave > .mustHave__title::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: #999;
    top: 100%;
    right: 49%;
    margin-top: 40px;
}

.mustHave > .mustHave__description {
    text-transform: capitalize;
    padding: 80px;
    color: #666;
    font-size: 1.5rem;
    letter-spacing: .2em;
    margin: 0;
}

.mustHave__product {
    position: relative;
    font-size: 0;
    width: 75%;
    margin: auto;
}

.mustHave__product::after {
    content: '';
    display: block;
    clear: both;
}

.mustHave__product > .mustHave__productItemLink {
    display: block;
    float: left;
    width: 32.3333%;
    padding-top: 45%;
    margin: 0 .5%;
    position: relative;
}

.mustHave__productItemLinkText{
    position: absolute;
    font-size: 1rem;
    color: #fff;
    background: #2c2d2e;
    padding: 21px 0;
    bottom: 0;
    font-family: sans-serif;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
}

.banner__callToAction:hover, .mustHave__productItemLinkText:hover, .subscribeForm .subscribeForm__submit:hover {
    background: #6aa2b0;
}

.mustHave__product > .mustHave__productItemLink:nth-child(1) {
    background: url('../images/pl.png') no-repeat center;
    background-size: cover;
}

.mustHave__product > .mustHave__productItemLink:nth-child(2) {
    background: url('../images/pm.png') no-repeat center;
    background-size: cover;
}

.mustHave__product > .mustHave__productItemLink:nth-child(3) {
    background: url('../images/pr.png') no-repeat center;
    background-size: cover;
}



footer {
    background: #525050;
    color: #d4d4d4;
    text-align: center;
    padding: 50px 0;
}


footer section, .copyright {
    color: #bebebe;
    text-shadow: 0 0 2px #000;
    font-weight: 700;
    font-size: 1.15rem;
}

footer a {
    color: #f4f4f4;
    padding: 3px 10px;
}

footer a:hover {
    color: #fff;
}

footer h3 {
    margin: 0 0 10px 0;
}


footer section, footer h3, .copyright {
    font-size: .9rem;
    letter-spacing: .1em;
}

.infoContainer {
    width: 85%;
    margin: 0 auto 50px;
}
.infoContainer:after {
    content: '';
    display: block;
    clear: both;
}

.infoContainer > .socialMedia, .infoContainer > .subscribe, .infoContainer > .contact  {
    width: 33.33333%;
    float: left;
}

.infoContainer h3 {
    text-transform: uppercase;
}

.infoContainer > .subscribe {
    text-align: right;
}

.subscribe h3 {
    text-align: left;
}

.socialMedia a {
    font-size: 1.2rem;
}

.contact a {
    display: block;
    font-size: 1rem;
}

.copyright a {
    color: #f4f4f4;
    box-shadow: inset 0px -1px #333;
    padding: 0;
}

.copyright a:hover {
    color: #fff;
}

.subscribeForm .subscribeForm__email {
    width: 100%;
    padding: 8px 5px;
    font-size: 1rem;
    border: 2px solid #f4f4f4;
    background: #525050;
    margin-bottom: 7px;
    outline: 0;

}

.subscribeForm .subscribeForm__email::placeholder {
    color: #f4f4f4;
}

.subscribeForm .subscribeForm__email:focus, .subscribeForm .subscribeForm__email:focus::placeholder {
    background: #f4f4f4;
    color: #303132;
}

.subscribeForm .subscribeForm__submit {
    outline: 0;
    border: 0;
    background: #d4d4d4;
    color: #303132;
    font-size: 1rem;
    padding: 7px 10px;
    cursor: pointer;
}

