/* body::before {
	content: url('../Template_2.png');
	transform: scale(1.068);
	opacity: .3;
	z-index: -1;
	position: absolute;
} */

* {
	/* outline: 1px solid gold; */
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0 auto;
	min-width: 1200px;
}

/* ----- header ----- */
header {
	font-size: 0;
	background: #535151;
}

header > .wrapper {
	max-width: 1080px;
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
}

.navbar__block {
	display: inline-block;
	vertical-align: middle;
}

.navbar__title > h1 {
	color: #D7D7D7;
	font-size: 20px;
	letter-spacing: 5px;
}

.navbar__title a {
	color: #D7D7D7;
	text-decoration: none;
}

.navbar__title a:hover {
	color: #FFF;
}

.navbar__list {
	font-size: 0;
	margin-left: 80px;
}
.navbar__list > a {
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	color: #D7D7D7;
	padding: 1em 2em;
}

.navbar__list > a + a {
	margin-left: 1em;
}

.navbar__list > a:hover {
	color: white;
}

.navbar__cart {
	width: 30px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.navbar__cart > a {
	display: inline-block;
}

.navbar__cart img {
	width: 100%;
}

/* ----- banner ----- */
.banner > .wrapper {
	background: url('../img/cover.jpg') center / cover no-repeat;
	height: 690px;
	position: relative;
}

.banner__title {
	padding: 30px 60px;
	background-color: rgb(255, 255, 255, 0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.banner__title > h2 {
	font-family: Didot, serif;
	font-size: 60px;
	margin: 0;
	margin-bottom: 30px;
}

.banner__title > button {
	cursor: pointer;
	border: none;
	background: #000;
	color: #D7D7D7;
	padding: 1em 3em;
	font-size: 16px;
	letter-spacing: 5px;
}

.banner__info {
	background: #E3E3E3;
}

.banner__info > p {
	margin: 0;
	text-align: center;
	padding: 1em 0;
	font-size: 15px;
  letter-spacing: 3px;
}

/* ----- collection ----- */
.collection {
	text-align: center;
}

.collection > .wrapper {
	max-width: 1080px;
	margin: 60px auto 120px;
}

.collection__title {
	margin-bottom: 45px;
}

.collection__title > h3 {
	font-family: Didot, serif;
	font-size: 44px;
	letter-spacing: 8px;
	margin-bottom: .5em;
}

.collection__title > div {
	margin: 30px auto;
	width: 40px;
	height: 1px;
	background: #000;
}

.collection__title > p {
	font-size: 24px;
	letter-spacing: 5px;
	margin: 0;
}

.collection__items {
	font-size: 0;
	text-align: center;
}

.collection__items__img {
	display: inline-block;
	box-sizing: border-box;
	width: 33.33%;
	padding: 0 8px;
	cursor: pointer;
}

.collection__items__img > div {
	position: relative;
}

.collection__items__img img {
	width: 100%;
}

.figcaption__left, .figcaption__right {
	color: #FFF;
	font-size: 18px;
	background: #303132;
	padding: 18px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.figcaption__middle {
	color: #303132;
	font-family: Didot, serif;
	font-size: 64px;
	letter-spacing: 12px;
	background: #E7E3E0;
	padding-top: 75px;
	position: absolute;
	top: 0;
	width: 100%;
}

/* ----- footer ----- */
.footer {
	font-size: 0;
	background: #535151;
}

.footer > .wrapper {
	max-width: 1080px;
	margin: 0 auto;
}

.footer > p {
	margin: 0;
}

.footer__info {
	padding: 75px 0;
}

.footer__info__block {
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	font-size: 16px;
	text-align: center;
	color: #FFF;
}

.footer__info__block > h4 {
	color: #D7D7D7;
	font-weight: 400;
	margin: 0;
	margin-bottom: 16px;
}

.social__icons {
	font-size: 0;
}

.social__icons > a {
	display: inline-block;
	width: 30px;
	margin: 0 8px;
}

.social__icons svg {
	font-size: 28px;
	color: #D7D7D7;
}

.social__icons svg:hover {
	color: #FFF;
}

/* .footer__info__email {
	width: fit-content;
} */

.footer__info__email > h4 {
	text-align: left;
}

.footer__info__email > form {
	text-align: right;
}

.email__input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	line-height: 1.2em;
	border: 1px solid #FFF;
	font-size: 16px;
	background: transparent;
  color: #FFF;
  padding: 8px;
  margin-bottom: 16px;
}

/* .email__btn {
	width: fit-content;
	margin-right: 0;
	margin-left: auto;
} */

.email__btn > button {
	color: #535151;
	font-size: 16px;
	border: none;
	padding: 8px 20px;
	cursor: pointer;
}

address > p {
	margin-top: 8px;
	margin-bottom: 0;
	font-style: normal;
}

address a {
	text-decoration: none;
	color: #FFF;
}

.footer__rights {
	margin: 0;
	color: #D7D7D7;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	padding: 4em 0;
}

.footer__rights > a {
	text-decoration: none;
	color: #D7D7D7;
}




