* {
  /*border: 1px red solid;*/
}


body {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}


.container {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
}


p {
    color: #4E4F50;
    font-family: sans-serif;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  Navigation bar  -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


header {
  background-color: #535152;
}


nav {
  display: flex;
  align-items: center;
}


.navBrand {
  padding-top: 8px;
}


nav ul {
  display: flex;
  flex: 1;
  padding: 0;
  list-style: none;
}


nav ul li {
  flex: 1;
  text-align: center;
}


nav ul li a {
  font-family: sans-serif;
  color: #cfcfcf;
  font-size: 16px;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  Content  -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


.banner {
  position: relative;
  background-image: url('img/cover.jpg');
  height: 82vh;
  background-size: cover;
  background-position: center;
}


.banner div {
  position: absolute;
  background: rgba(255,255,255,0.5);
  top: 50%;
  left: 50%;
  margin-top: -111px;
  margin-left: -300px;
  width: 600px;
}


.centerBoxTile {
  margin: 20px;
  text-align: center;
  color: #303132;
  font-family: serif;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
}


.shopNow{
  width: 300px;
  padding: 10px;
  margin: 8px auto 15px;
  background-color: #303132;
  text-align: center;
  color: #E7E7E7;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 20px;
}


.freeShipping {
  margin: 0;
  background-color: #E3E3E3;
  text-align: center;
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 100;
  line-height: 50px;
}




.yearRoundBox {
  padding: 80px;
  text-align: center;
}


.yearRound {
  margin: 0;
  color: #303132;
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 15px;
}


.dash {
  margin: 20px;
}


.mustHave {
  margin-top: 2rem;
  font-size: 20px;
  letter-spacing: 10px;
  font-weight: 100;
}


.flex {
  display: flex;
  justify-content: space-between;
}


.merchandise img {
  width: 330px;
  height: auto;
}


.darkBg {
  background-color: #303132;
}
.greyBg {
  background-color: rgb(231, 227, 224);
}


.description  {
  text-align: center;
  color: #E7E7E7;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 100;
  }



/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  Footer  -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


footer {
  background-color: #535152;
  padding: 80px 0 60px;
  margin-top: 80px;
}


footer p {
  margin: 5px 0;
  color: #cfcfcf;
  font-size: 15px;
  font-weight: 100;
}


.email {
  flex: 1;
  margin: 0 100px;
}


.logolink, .contact {
  margin: 0 40px;
  text-align: center;
}


#email {
  margin: 0 auto;
  width: 100%;
  height: 30px;
  border: 2px solid #cfcfcf;
  background-color: transparent;
  box-sizing: border-box;
}

#button {
  float: right;
  padding: 10px;
  margin: 5px 3px;
  border: 0;
  background-color: #d3d3d3;
  color: #4E4F50;
  font-size: 15px;
  border-radius: 1px;
}


.allRight {
  text-align: center;
  margin-top: 50px;
}
