body {
  margin: 0;
}

a {
  cursor: pointer;
}


.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}


.linkBlock {
  display: block;
}



/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  Font Style      -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


p {
    color: #4E4F50;
    font-family: sans-serif;
}





.mustHave {
  margin-top: 2rem;
  font-size: 20px;
  letter-spacing: 10px;
  font-weight: 100;
}


.description p {
  color: #E7E7E7;
  line-height: 59px;
  font-weight: 100;
  font-size: 20px;
  font-family: sans-serif;
  margin: 0;
  }


footer p {
  margin: 5px 0;
  color: #cfcfcf;
  font-size: 15px;
  font-weight: 100;
}


.allRight {
  text-align: center;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  Navigation bar  -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


header {
  background-color: #535152;
}


.navbar .container{
  display: flex;
  align-items: center;
}


.navbar ul {
  list-style: none;
}


.navbar-nav li {
  display: inline-block;
  padding: 35px;
}


.navbar-nav a {
  color: #cfcfcf;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  Content  -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


.banner {
  position: relative;
  background-image: url('img/cover.jpg');
  height: 82vh;
  background-size: cover;
  background-position: center;
}


.bannerCenterBox {
  position: absolute;
  background: rgba(255,255,255,0.5);
  top: 50%;
  left: 50%;
  margin-top: -111px;
  margin-left: -300px;
  width: 600px;
}


.shopNow {
  width: 300px;
  background-color: #303132;
  margin: 8px auto 15px;
  text-align: center;
  padding: 1px;
}


.centerBoxTile {
  font-family: serif;
  color: #303132;
  font-size: 60px;
  font-weight: bold;

  margin: 20px auto;
  letter-spacing: 2px;
  text-align: center;
}


.shopNow p {
    color: #E7E7E7;
    font-weight: 100;
    font-size: 20px;
    font-family: sans-serif;
    margin: 10px auto;
  }



.freeShipping {
  background-color: #E3E3E3;
  margin: 0;
  text-align: center;
}



.freeShipping p {
  margin: 0;
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 100;
  line-height: 50px;
}




.yearRoundBox {
  padding: 80px;
  text-align: center;
}


.yearRound {
  font-family: serif;
  color: #303132;
  font-size: 40px;
  font-weight: bold;
  margin: auto;
  letter-spacing: 15px;
}


.dash {
  margin: 20px;
}


.flex {
  display: flex;
  justify-content: space-around;
}


.merchandise {
  flex: 1;
  background-color: #303132;
  margin: 0 20px;
}


.greyBackground {
  background-color: rgb(231, 227, 224);
}


.description {
  text-align: center;
}


.merchandise img{
  width: 100%;
  height: auto;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  Footer  -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


footer {
  background-color: #535152;
  padding: 80px 80px 60px;

  margin-top: 80px;
}


.logolink, .email, .contact {
  flex: 1;
}


#email {
  background-color: transparent;
  width: 100%;
  height: 30px;
  border: 2px solid #cfcfcf;
  margin: 0 auto;
  box-sizing: border-box;
}

#button {
  float: right;
  background-color: #d3d3d3;
  margin: 5px 3px;
  padding: 10px;
  color: #4E4F50;
  font-size: 15px;
  border-radius: 1px;
  border: 0;
}


.logolink, .contact {
  text-align: center;
}


.logolink a {
  text-decoration: none;
}


.allRight {
  margin-top: 50px;
}
