body {
	margin:0;
}
.container {
	margin-left: 15px;
}
.container-2 {
	margin-right: 180px;
	margin-left: 180px;
}
.nav {
	text-align: center;
	background-color: #535151;
}
.menu {
	font-family: sans-serif;
}
.item {
	display: inline-block;
	margin-right: 150px;
}
.item > a {
	text-decoration: none;
	color: gray;
	font-size: 24px;
	margin-left: 120px;
}
.imgsrc1 {
	display: inline-block;
	vertical-align: middle;
}
.imgsrc2 {
	display: inline-block;
	vertical-align: middle;	
}
.imgsrc1 > img{
	display: block;
}
.imgsrc3 > img {
	max-width: 100%;
	height: auto;
	display: block;
}
.fallandwinter {
	width: 1000px;
	height: 200px;
	font-size: 48px;
	background-color: rgba(226, 217, 210, 0.5);
	text-align: center;
	font-family: sans-serif;
	position: absolute;
	left: 0;
	right: 0;
	top:250px;
	margin: auto;
}
.fallandwinter > p {
	margin:30px;
	font-weight: bold;
}
.shopnow {
	width: 200px;
	height: 30px;
	font-size: 24px;
	background: rgba(0,0,0,0.8);
	position: absolute;
	left: 0;
	right: 0;
	top: 120px;
	margin: auto;
}
.fsw {
	background-color: #CCCCFF;
	height: 40px;
	width: auto;
	text-align: center;
}
.fsw > p{
	margin: 0;
	line-height: 40px;
	letter-spacing: 0.3em;
	font-family: sans-serif;
	font-size: 14px;
}
.centerUpperText {
	text-align: center;
	font-family: sans-serif;
}
p.yr{
	font-size: 36px;
	letter-spacing: 0.3em;
	font-weight: bold;
}
p.mhi {
	letter-spacing: 0.3em;
	font-size: 14px;
	margin-top: 30px;
}
hr {
	width: 50px;
}
.photo3 {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 150px;
}
.photo3 > img {
	width: 450px;
	height: 560px;
}
img#middle {
	margin-right: 20px;
	margin-left: 20px;
}
.footerUpper {
	text-align: center;
	background-color: #535151;
	height: 300px;
	padding-top: 100px;
}
/*.textAlignMiddle{
	text-align: center;
}*/
.footerLeft{
	width: 350px;
}
.footerMiddle {
	margin: auto 60px;
	width: 350px;
}
.footerRight{
	width: 350px;
}
.footerTopText{
	color: gray;
	margin-top: 0;
}
.footerLower {
	color: gray;
	text-align: center;
	margin-top: 100px;
}
u {
	text-decoration-color: black;
}
.email {
	width: 345px; 
	height: 25px;
	border: solid 1px white;
	background-color: #535151;
	color: white;
}
.updateme {
	height: 25px;
	width: auto;
}
.footerTopText2 {
	color: white;
}