
html {
    font-family: 'helvetica', Arial, sans-serif;
}

/* 何時包這些 */
/* 寬度問題 */
/* 命名 */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,p,h1,h2,ul,h6 {
    margin: 0;
}

ul{
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

