* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  outline: solid 1px red;
}

:root {
  --font-title: serif;
  --font-normal: "Nunito", Arial, sans-serif;
  --font-logo: "Arial", sans-serif;

  --gray-dark: #535151;
  --gray-medium: #79797a;
  --gray-light: #e3e3e3;
}

a {
  text-decoration: none;
}

body {
  min-width: fit-content;
}

/* header */

header {
  background-color: var(--gray-dark);
}

.header-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 100px;
  text-align-last: justify;
  font-size: 0;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo a {
  font-family: var(--font-logo);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--gray-light);
}

nav {
  display: inline-block;
  vertical-align: middle;
}

nav a {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  font-family: var(--font-normal);
  font-size: 18px;
  color: var(--gray-light);
}

nav a + a {
  margin-left: 50px;
}

nav a:hover {
  color: white;
  text-shadow: 0 0 10px white;
}

.cart {
  display: inline-block;
  width: 50px;
  vertical-align: middle;
  padding: 0;
}

.cart img {
  width: 100%;
  vertical-align: bottom;
}

/* banner */

.banner {
  height: 700px;
  position: relative;
  background-image: url(/img/cover.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-content {
  width: fit-content;
  position: absolute;
  margin: 0 auto;
  padding: 25px;
  top: 40%;
  left: 0;
  right: 0;
  background-color: rgba(253, 254, 254, 0.7);
  text-align: center;
}

.banner-content h2 {
  margin-bottom: 20px;
  font-family: var(--font-title);
  font-size: 70px;
  letter-spacing: 5px;
}

.banner-content button {
  padding: 10px 80px;
  border: none;
  background-color: rgba(28, 40, 51, 1);
  color: white;
  font-size: 24px;
}

.banner-content button:hover {
  box-shadow: 0 0 20px var(--gray-medium);
}

.divider-info {
  padding: 15px;
  background-color: var(--gray-light);
  color: var(--gray-medium);
  text-align: center;
  font-family: var(--font-normal);
  font-size: 18px;
  letter-spacing: 3px;
}

.product {
  width: fit-content;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}

.product-title {
  margin-bottom: 40px;
  font-family: var(--font-title);
  font-size: 50px;
  letter-spacing: 10px;
}

.product-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  margin: 30px auto 0;
  background-color: black;
}

.product-subtitle {
  margin-bottom: 40px;
  font-family: var(--font-normal);
  font-size: 24px;
  letter-spacing: 5px;
}

.product-collection {
  font-size: 0;
}

.product-collection a + a {
  margin-left: 10px;
}

.product-collection a {
  display: inline-block;
  height: 430px;
}

.product-collection a img {
  height: 100%;
}

.product-collection a:hover {
  opacity: 0.7;
}

/* footer */

footer {
  font-family: var(--font-normal);
  background-color: var(--gray-dark);
  color: white;
}

.footer-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 100px;
}

.footer-info {
  margin-bottom: 50px;
  padding: 0 50px;
  font-size: 0;
}

.footer-info-title {
  margin-bottom: 10px;
  color: var(--gray-light);
}

.media-link {
  display: inline-block;
  vertical-align: top;
  text-align-last: justify;
  font-size: 16px;
}

.media-link i {
  vertical-align: bottom;
  font-size: 20px;
  color: white;
}

.media-link a:hover {
  text-shadow: 0 0 10px white;
}

.subscribe {
  display: inline-block;
  width: 33%;
  margin: 0 150px;
  vertical-align: top;
  font-size: 16px;
}

.subscribe input[type="email"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid white;
  background-color: var(--gray-dark);
  color: white;
  font-size: 18px;
}

.subscribe input[type="email"]::placeholder {
  color: white;
}

.subscribe button[type="submit"] {
  display: block;
  padding: 10px;
  border: none;
  margin-left: auto;
  text-align: center;
  background: var(--gray-light);
  color: var(--gray-dark);
  font-size: 16px;
}

.subscribe button[type="submit"]:hover {
  box-shadow: 0 0 10px white;
}

.contact {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 16px;
}

.contact-title {
  color: var(--gray-light);
}

.contact a {
  display: block;
  margin-bottom: 10px;
  color: white;
}

.copyright {
  text-align: center;
  color: var(--gray-light);
}

.copyright a {
  color: var(--gray-light);
  text-decoration-line: underline;
  text-decoration-color: black;
}
