nav, ul {
    display: inline-block;
}

a {
    text-decoration: none;
}

a, nav, .submit , .button{
    cursor: pointer;
}

a:link, a:visited {
    color: #D3D3D3;
}

a:hover {
    color: burlywood;
    
}

.button:hover {
    opacity: 0.6;
}