footer {
    color: #D3D3D3;
    background-color: #535151;
}

.footer-box {
    box-sizing: border-box;
    width: 1000px;
    margin: 0 auto;
}

.about {
    padding: 70px;
    text-align-last: justify;
}

.media, .join-us, .contact{
    display: inline-block;
    vertical-align: top;
    text-align-last: initial;
    font-size: 13px;
}

.media h5{
    margin:0;
    padding: 5px;
    font-size: 13px;
    letter-spacing: 2px;

}
.media ul {
    text-align-last: justify;
    padding: 5px;
    width: 125px;
    color: #D3D3D3;
    font-size: 0px;
}

.media a {
    display: inline-block;
    font-size: 18px;
    text-align-last: center;
}
.join-us h5 {
    margin: 0;
    padding: 5px;
    letter-spacing: 1px;
    font-size: 13px;
}

input[type=email] {
    width: 300px;
    margin:5px;
    padding: 4px;
    background-color: #535151;
    color: #D3D3D3;
    border: 1px solid #D3D3D3;
    
}

.submit {
    padding: 3px;
    text-align: right;
}

input[type=submit] {
    margin: 5px 0;
    padding: 5px;
    background-color: #D3D3D3;
    color: #535151;
    font-size: 16px;
}

.contact {
    text-align: center;
}

.contact a {
    display: block;
    padding: 5px;
}

.contact>h5 {
    letter-spacing: 2px;
    margin: 0;
    padding: 5px;
    font-size: 13px;
}
.contact a {
    font-family: 'Magra', sans-serif;
    letter-spacing: 2px;
}

.copy {
    padding: 50px;
    margin: 0;
}
.copy h5 {
    margin: 0;
    text-align: center;
    font-family: 'Magra', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
}