figure {
    margin: 0;
}

.banner-box {
    height: 600px;
    width: 100%;
    text-align: center;
    background-image: url("../img/cover.jpg");
    background-position: center;
    background-size: cover;
}

.banner-box::before{
    content: "";
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

figcaption {
    display: inline-block;
    padding: 29px 45px;
    width: fit-content;
    text-align: center;
    background-color: rgba(225,225,225, 0.6);
    vertical-align:middle;
}

figcaption h2 {
    margin: 0;
    font-family: 'Tinos', serif;
    text-align: center;
    font-size: 55px;
    color: rgb(39, 39, 39);
    letter-spacing: 4px;
}

.button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px 70px;
    width: fit-content;
    background-color: #333131;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.shipping-text {
    background-color: #e7e6e6;
    padding: 4px;
    color: #535151;
    font-size: 14px;
    text-align: center;
    letter-spacing: 8px;
}

.news {
    padding: 100px 0px;
}

.news-text {
    margin: 0 auto;
    width: fit-content;
    letter-spacing: 6px;
}

.news-text h3 {
    margin: 0 auto 30px auto;
    font-size: 40px;
    font-family: 'Tinos', serif;
    letter-spacing: 10px;
    font-weight: 600px;
}

.news-text hr {
    border: 0.5px solid #535151;
    width: 30px;
    text-align: center;
}

.news-text h4 {
    margin: 30px auto 0 auto;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.img-roll-box {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 60px;
    width: 1000px;
    text-align-last: justify;
    font-size: 0;
}

.editor-pick, .sales, .focus {
    display: inline-block;
    width: 332px;
    height: 453px;
    cursor: pointer;
}


.editor-pick>img, .sales>img, .focus>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}