@charset "utf-8";

/*-----default-----------------------------------*/
body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;line-height:100%;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ol,ul{list-style:none;margin:0;padding:0;}
hr{margin:0px;}
img{max-width:100%;height:auto;}
div,p,span{line-height:inherit;}

/*-----basic-----------------------------------*/
html{overflow:-moz-scrollbars-vertical; overflow-y:scroll;z-index: 999;font-size:15px;}
body{font-family: Arila, "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", sans-serif;color:#000;-webkit-text-size-adjust:none;background:#fff;}
a,a:hover,a:focus{color:#000;text-decoration:none;}

.header {
  background: #535152;
  line-height : 100px;
}

.header .logo {
  display: inline-block;
  padding: 0 50px 0 200px;
}

.header .logo img {
  vertical-align:middle;
}

.header .navbar {
  display: inline-block;
}
.header .navbar ul li {
  
  font-size: 15px;
  display: inline-block;
  padding: 0 20px 0 20px;
}

.header .navbar a {
  color: #FFF;
}

.header .icon_shop {
  display: inline-block;
  width: 20px;

}

.cover{
  background-image: url("../img/mainImage.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cover .cont{
  position: absolute;
  top: 40%;
  left: 47%;
  margin-top: -10px;
  margin-left: -200px;
  width: 500px;
  height: 5em;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.40);
  
  padding: 30px 20px 30px 20px; 
  font-size: 30px;
  text-align: center;
  line-height: 40px;

}

.cover .cont h2 {
  letter-spacing: 15px;
}

.cover .cont .button a{
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
  padding-top: 5px auto;
  text-align: center;
  background: #000;
  display: inline-block;
}

.solid {
  background: #F5F5F5;
  font-size: 15px;
  height: 50px;
  padding-top: 20px;
  line-height: 40px;
  text-align: center;
}

.cont_font {
  border: 1px solid #ddd;
  font-size: 40px;
  text-align: center;
  word-spacing: 8px;
  letter-spacing: 5px;
}

hr {
    margin: 0px auto;
    width: 40px;
}

.cont_font h1 {
  padding: 20px 0 20px 0;
}

.cont_font h2 {
  font-size: 20px;
  padding: 10px 0 30px;
}

.cont_cover img{
  padding: 20px 0 40px 0;
  display: inline-block;
  padding-right: 5px;
  width: 300px;
}

.footer {

  background: #535152;
  height: 250px;
  margin: 0px auto;
  color: #000000;

}

.row {
  padding-top: 100px;
  margin: 0 50px 0 50px;
  height: 200px;
  text-align: center;
  font-size: 15px;
}

.social {
  
  color: #fff;
  
}

.social i {
  color: #fff;
  padding:0 20px 0 10px;
}


.friend {
  color: #fff;
  padding-left: 80px;
  text-align: left;
}

.friend button {
  color: #000;
}

.need {
  color: #fff;
  line-height: 20px;
}

.bottom p{
  color: #fff;
  text-align: center;
  

}




