@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width:960px;

}

body{
  font-family: arial, 'cwTeXHei', sans-serif;
  background-color: #000000;
}
