@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);


.footer{
  height:300px;
  background-color:  fba919;
  color: white;
  width: 100%;
}

.footer ul{
  list-style: none;
  display: inline-block;
}

.footer li{
    font-size:16pt;
    margin-top: 50px;

    color:#000000;
    display: inline-block;
    width:33%;
}
.footer li:first-child{
  float:left;
  text-align: left;
}
.footer li:nth-child(2){
  text-align: center;
}

.footer li:last-child{
  float:right;
  text-align: right;
}

.footer li:last-child div{
display: inline-block;
text-align: center;
}

.footer_bold{
  font-weight: bold;
}

.footer img{
  margin-top: 5px;
  width:170px;
}

.footer input{
  font-size:14pt;
  border:1px;
  border-style: groove;
  border-color: #000000;
  margin-top:5px;
  margin-left:43px;
  padding-bottom:5px;
  width:200px;
}

.footer button{
  margin-top:5px;
  font-size:12pt;
  background-color:#146eb4;
  text-decoration: none;
  color:#000000;
  width: 80px;
  height: 30px;
  margin-left:165px;
  -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
  border:1px #146eb4;
}

.footer button:hover{
  color: #FFFFFF;
}

.footer_p{
margin-top:50px;
color:#000000;
font-size: 12pt;
text-align: center;
}

.footer_p span{
  text-decoration: underline;
}

/*.footer p{
  text-align: center;
}*/
