/*黑體*/

@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

/*------globle------*/

.allfont {
  font-family: 'cwTeXHei', sans-serif;
  font-size: 20pt;
}
.bigfont {
  font-family: 'cwTeXHei', sans-serif;
  font-size: 30pt;
}
.clear {
  clear: both;
}

/*-----header-----*/

header {
  background-color: fba919;
  height: 50px;
  width: 100%;
}

/*.container:hover li{
  color: blue;
}*/

/*.container li:hover{
  color: red;
}*/

header p {
  color:block;
  font-size: 20pt;
  float: left;
  margin-top: 8px;
}

header ul {
  list-style: none;
  float: right;
  margin:0 auto;
  /*margin-right: 10px;*/
}
header li {
  font-size: 15pt;
  color:block;
  margin-top:12px;
  float:left;
  padding-left: 20px;
  padding-right: 20px;
}
