@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');

body{
    margin: 0;
}
.wrap{
    max-width: 960px;
    margin: 0 auto;
}



/* header ======================================= */


header{
    font-size: 0px;
    background: rgba(82, 82, 81, 1);    
    padding: 40px 0;
}

header .logo{
    display: inline-block;
}

header .logo a{
    text-transform: uppercase;
    color: rgba(209, 209, 209, 1);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: all .4s;
    letter-spacing: 5px;
}

header .logo a:hover{
    color: rgba(255,255,255,1); 
}

header .list{
    display: inline-block;
}

header .list ul  {
    font-size: 0;
    padding-left: 0;
}
header .list ul li {
    display: inline-block;
    font-size: 16px;
    margin-left: 67px;
}


header .list ul li:last-child{
    margin-left: 93px;
}

header .list ul li a{
    text-decoration: none;
    text-align: center;
    color: rgba(209, 209, 209, 1);
    transition: all .4s;
}

header .list ul li a:hover{
    color: rgba(255,255,255,1);
}

header .list ul li:last-child a{
    display: block;
}


header .list ul li:last-child  a img{
    vertical-align: -50%;
}



/* main-banner =======================================  */

.banner{
    background-image: url(img/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
    position: relative;
}

.banner .banner-container{
    background: rgba(255,255,255,.4);
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%); 
    padding: 20px 30px 30px 30px;
}


.banner .banner-container h1{
    color: rgba(48,49,50,1);
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    margin: 0 0 10px 0;
    letter-spacing: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.banner .banner-container a{
    display: block;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: rgba(255,255,255,1);
    background: rgba(48,49,50,1);
    padding: 10px 30px;

}



/* main-annotation========================================================== */

.annotation{
    background: rgba(227,227,227,1);
    border: 1px solid transparent;
}

.annotation p{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: rgba(48,49,50,1);
}


/* main-production========================================================== */

.production{
    padding: 60px 0 80px 0;
}

.production .production-container{
    border-top:1px solid transparent;
    text-align: center;
}

.production .production-container .title{
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    margin: 0 0 40px 0;
}

.production .production-container .title::after{
    content: '';
    position: absolute;
    width: 50px;
    bottom: -33px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 3px solid rgba(227,227,227,1);
}


.production .production-container  .sub-title{
    display: inline-block;
    letter-spacing: 8px;
    font-size: 20px;
    color: rgba(29, 29, 29, 1); 
    margin-bottom: 50px;
}


.production .production-container .item-group{
    border-top:1px solid transparent;
}

.production .production-container .item-group .item{
    float: left;
    width: 32.33%;
}

.production .production-container .item-group .item + .item{
    margin-left: 1.5%;
}

.production .production-container .item-group .item-pic {
    height: 432px;
}

.production .production-container .item-group .item-pic img{
    width: 100%;
    height: 100%;
}


/* footer============================================================ */
footer{
    background: rgba(82, 82, 81, 1);    
    padding: 80px 0 16px 0;
}

footer .col{
    width: 33.33%;
    float: left;
}



footer .col h3{
    color: rgba(209, 209, 209, 1);
    text-transform: uppercase;
    margin: 0 0 10px 0;

}

footer .social-links{
    box-sizing: border-box;
    padding: 0 0 0 3%;
}

footer .social-links ul{
    font-size: 0;
    padding-left: 0;
    display: inline-block;
    margin: 0 5px;
}

footer .social-links ul li{
    display: inline-block;
    text-align: center;
}
footer .social-links ul li + li{
    margin-left: 25px;
}
footer .social-links ul li a{
    text-align: center;
    display: block;
    text-decoration: none;
}


footer .social-links ul li a i{
    font-size: 28px;
    color: rgba(255,255,255,1);
    transition: all .4s;
}

footer .social-links ul li a i:hover{
    color: rgba(209, 209, 209, 1);  
}

footer .subscribe form{
    text-align: right;
}

footer .subscribe input[type="email"]{
    box-sizing: border-box;
    border: 1px solid #fff;
    padding: 10px 8px;
    background: rgba(82, 82, 81, 1);    
    width: 100%;
    font-size: 18px;
}

footer .subscribe input[type="email"]::placeholder{
    color: #fff;
}

footer .subscribe input[type="submit"]{
    margin-top: 10px;
    padding: 8px;
    background: rgba(209, 209, 209, 1); 
    color: rgba(29, 29, 29, 1);    
    cursor: pointer; 
    transition: all .3s;
}
footer .subscribe input[type="submit"]:hover{
    border: 1px solid rgba(29, 29, 29, 1);
    background: rgba(29, 29, 29, 1);     
    color: rgba(209, 209, 209, 1); 
}

footer .contact{
    color: rgba(255,255,255,1);
    text-align: center;    
}

footer .contact p{ 
    line-height: .8;
    margin: 10px 0;
}

footer .contact{
    box-sizing: border-box;
    padding-left: 7%;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

footer  .copyright{
    color: #fff;
    text-align: center;
    margin: 60px 0 0 0;
}
