footer {
    background-color: #525050;
    padding: 50px 0;
}

.footer_box {
    width: 1600px;
    margin: 0 auto;
}
.footer_items {
    margin-bottom: 80px;
}

.social,
.register,
.contact {
    display: inline-block;
    vertical-align: top;
    width: 520px;
    margin: 0;
}

.copyright,
.social,
.register,
.contact {
    color: #d4d4d4;
    letter-spacing: 2px;
}

.copyright,
.social,
.contact {
    text-align: center;
}

.register {
    text-align: left;
}

h4 {
    font-size: 22px;
    margin: 0 0 10px 0;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    font-size: 22px;
    color: #d4d4d4;
    text-decoration: none;
}

.register p {
    margin: 10px 0 0;
}

.social_icon>a {
    font-size: 30px;
}


input[type="email"] {
    width: 100%;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    background-color: #525050;
    padding: 10px 0;

}

input[type="submit"] {
    display: block;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: auto;
    border: none;
    cursor: pointer;
    background-color: #d4d4d4;
}

.social_icon a+a {
    margin-left: 15px;
}