header {
  background-color: #535151;
  padding: 25px 0;

}

.header_box {
  width: 1600px;
  margin: 0 auto;
}

h1,
nav,
.cart {
  display: inline-block;
  vertical-align: middle;
}

h1 {
  text-decoration: none;
  font-size: 40px;
  color: #ddd;
  letter-spacing: 5px;
}

nav>a {
  text-decoration: none;
  color: #ddd;
  font-size: 30px;
  margin-left: 100px;
  display: inline-block;
}

nav>a:hover {
  color: #fafafa;
}

.cart img {
  width: 70px;
}

.cart {
  width: 70px;
  height: 70px;
  transition: .25s;
  margin-left: 90px;
}

.cart:hover {
  filter: grayscale(50%);
}