body {
	margin-top: 0px;
	border-radius:30px;
	font-family:Arial;
	margin: 0 auto;
}

header{
	margin: 0 auto;
	background-color: #535151;
	width: 100%;
	min-height: 120px;
}

#headerContent{
	margin: 0 auto;
	width: 1000px;
	height: 120px;
	
}

#logo{
	margin-top:10px; 
	float: left;
	display:inline;
}

nav{
	float: left;
	display:inline;
	width: 0 auto;
	height: 100px;
	font-size: 12px;
}

#cartIcon{
	margin-top: 25px;
}


#topic{
	margin: 60px auto; 
}

h1{
	font-size:20px;
	font-weight:bold;
}

h2{
	font-family: 'Droid Serif', serif;
	font-size:34px;
	font-weight:bold;
	line-height: 60px;
	letter-spacing:5px;
}

h3{
	font-family: 'Droid Serif', serif;
	font-size:30px;
	font-weight:bold;
	line-height: 60px;
	letter-spacing:8px;
}

h4{
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height: 50px;
	letter-spacing:6px;
}


li{
	float: left;
	margin: 50px 35px;
	text-decoration: none;
	font-size: 12px;
	font-color: #FFF;
}

p{
	font-family: 'Cantarell', sans-serif;
    line-height: 30px;
	font-size: 15px;
	letter-spacing:2px;
}


p.center{
	font-family: 'Raleway', sans-serif;
	text-indent: 25px;
    line-height: 50px;
	font-size: 15px;
	letter-spacing:2px;
}


a{
	font-family: 'Cantarell', sans-serif;
	text-decoration: none;
	font-size: 15px;
	color: #eee;
	margin-left:5px;
}

a:hover{
	color: #FFF;
}


#shopBanner{
	clear: both;
	margin: auto;
	padding-top: 180px;
	background: url(img/shopBN.png) no-repeat;
	background-size: cover;
    max-width:100%;
    min-height:400px;
    margin:auto;
}

#ShopNowBox{
	padding-top: 20px;
	width: 400px;
	height: 150px;
	margin: auto;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
}

#newArrival{
	margin: auto;
}

#topic{
	text-align: center;
}

#freeShippingText{
    text-align: center;
    color: #303132;
    width: 100%;
    height: 50px;
    background-color: #e7e3e0;
	letter-spacing:30px;
}

#shopBtn{
	font-family: 'Raleway', sans-serif;
	margin-top:20px; 
	background-color: #303132;
	padding:12px 57px;
	border: 0px;
	color: #FFF;
}

#mustHaveBox{
	margin: auto;
	padding-left: 30px; 
	width: 1110px;
	height: 800px;
}

#itemPicBox{
	padding:30px; 
	width: 100%;
	height: 700px;
}

.itemPic{
	float: left;
	margin-left: 10px; 
	width: 329px;
	height: 455px;

}

.itemLabel{
	display: block;
	background-color: #303132;
	width: 329px;
	height: 56px;
	margin-left:5px; 
	text-align: center;
	line-height: 56px;
}

footer{
	color: #eee;
	clear: both;
	font-size: 15px;
	margin: 0 auto;
	width: 100%;
	height: 350px;
	background-color: #535151;
}


#footerContent{
	width: 1150px;
	height: 300px;
	margin: 0 auto;
}


.footerDiv{
	float: left;
	margin: 80px;
	letter-spacing:2px;
	
}

#emailInput{
	width: 300px;
	height:30px;
	background-color: #535151;
	border-color: #fff;
	border-width: 2px;
	border-style: solid;
	color: #fff;
	text-indent: 10px;
}

#updateBtn{
	font-family: 'Raleway', sans-serif;
	display: block;
	margin: 10px 0px 0px 210px; 
	width: 90px;
	height: 30px;
	font-weight: bold;
	background-color: #e7e3e0;
	border: none;
	color: #535151;
}

#contactInfo{ 
	text-align: center;
}

#copyright{
	margin-top:0px;
	margin-right: 30px;
	clear: both;
	text-align: center;
	letter-spacing:2px;
}