


#template{
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0.4;
  z-index: 0;
}

*{
  outline: 1px solid;
}

ul ,li , p{
  margin: 0;
}

body{
  font-family: sans-serif;
  margin: 0px;
}



header{
  background-color: lightgray;
  
  height: 150px;
}

.logo{

  float: left;
  margin-top: 25px;
  margin-left: 180px;
}

.logoName{

  
  font-size: 10px;
  font-weight: bold;
  margin: 0px;
  margin-top: -10px;
  margin-left: -9px;

}

#menu{
  padding-top: 61px;
  padding-left: 265px;
}

.menu {
  display: inline;
  list-style: none;
  margin-top: 60px;
  padding: 50px;
  font-size: 15px;

}

#HomeText{
  color: #F99303;
}
.midContent{
  height: 400px;
  margin-top: 88px;
  margin-left: 228px;
  margin-right: 200px;
  
}

.bigPic{
  float:right;
  margin-top: -30px;


}


h1{
  font-size: 56px;
  font-weight: normal;
  line-height: 0px;


}

h2{
  font-size: 30px;
  font-weight: normal;
  line-height: 11px;
}

#midText{
  margin-top: -12px;
}

.try{
  padding-top: 9px;
  padding-left: 60px;
}

.button{
  border-radius: 5px;
  background: linear-gradient(180deg, #FFBA53 50%, #F99303 50%);
  width: 220px;
  height: 56px;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 56px;
  margin: 0px;
}

.buttoninfo{
  font-size: 8px;
  margin-top: 3px;
}

.downContent{
  margin-top: 48px;
  margin-left: 210px;
  margin-right: 200px;
}

.leftContent {
  float: left;
  width: 48%;
  
}

.rightContent{
  float: right;
  width: 48%;
  
}

footer{
  background-color: lightgray;
  height: 75px;
  padding-left: 180px;
  padding-right: 170px;
  margin-top: 515px;



}

.footer{
  display: inline;
  list-style: none;


}

#copyright{
  float: left;
  margin-right: 250px;
  font-size: 8px;
}

#footer{
  padding: 25px 0px 0px 0px;

}

.sharePic{
  float: right;
  display: inline;
  list-style: none;
  width: 30px;
  height: 30px;
  padding: 5px 7px 10px 10px;
}
