#template {
    position: absolute;
    opacity: 0.4;
    z-index: 0;
}

/** {
    outline: 1px solid;
}*/

body {
    min-width: 1210px;
    font-family: sans-serif;
}

header {
    background-color: #EEEEEE;
    
}

nav {
    width: 1060px;
    margin: 0 auto;
    font-size: 0;
}

.logo {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 2% 0 3%;
}

.logo_name {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: -5px;
}

.menu_list {
    display: inline-block;
    margin-left: 6rem;
    vertical-align: middle;
}

.menu_list a {
    display: inline-block;
    font-size: 1rem;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.menu_list a+a {
    margin-left: 6rem;
}

.menu_list a:hover {
    color: #F99303;
    cursor: pointer;
}

section {
    background-color: #FDFDFD;
    width: 100%
}

h2 {
    font-size: 4rem;
    font-weight: normal;
}

h3 {
    font-size: 2rem;
    font-weight: normal;
}

.section_content_width {
    width: 940px;
    margin: 0 auto;
    padding: 3% 0 11%;
}

.section_text {
    display: inline-block;
    width: 48%;
}

.download_content {
    font-size: 0;
    width: 240px;
    margin: 20px auto 0;
}

button {
    display: inline-block;
    border-radius: 5px;
    background: linear-gradient(180deg, #FFBA53 50%, #F99303 50%);
    padding: 9px 46px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    line-height: 56px;
    border-width: 0;
}

button:hover {
    cursor: pointer;
    color: red;
}

.button_info {
    font-size: 0.5rem;
    margin-top: 3px;
}

.box_picture {
    float: right;
    width: 48%;
}

article {
    padding: 3% 0 16%;
    columns: 2;
    width: 940px;
    margin: 0 auto;
}


.article_title {
    width: 940px;
    margin-bottom: 25px;
    column-span: all;
    font-size: 2rem;
    font-weight: normal;
}

article p {
    margin: 0 0 30px;
    width: 450px;
}

footer {
    background-color: lightgray;

}

.bar {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 0;
}

.copyright {
    display: inline-block;
    font-size: 0.5rem;
    line-height: 40px;
    text-align: center;
}

.share_list {
    display: inline-block;
    float: right;
    margin-right: 1%;
}

.share_list a {
    display: inline-block;
}

.share_list a+a {
    margin-left: 10px;
}


.share_picture {
    color: black;
    padding: 5px;
    font-size: 2rem;

}

.share_picture:hover {
    cursor: pointer;
}

.clear {
    clear: both;
}