/*#template {
    position: absolute;
    opacity: 0.4;
    z-index: 0;
}*/

* {
    outline: 1px solid;
}

body,
header,
nav,
h1,
h2,
ul,
li,
p,
footer,
img,
a {
    margin: 0;
    padding: 0;
}

html{
    min-width: 1280px;
}
body {
    font-family: sans-serif;
}

header {
    background-color: lightgray;
    padding: 2% 0 4%;
}

nav {
    width: 72%;
    margin: 0 auto;
    font-size: 0;
}

.logo {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.logoName {
    font-size: 14px;
    font-weight: bold;
    margin-top: -5px;
}

.menuList {
    display: inline-block;
    margin-left: 70px;
    vertical-align: middle;
}

.menu {
    display: inline-block;
    margin-left: 95px;
    font-size: 15px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.menu:nth-child(1) {
    margin-left: 0px;
}

.menu:hover {
    color: #F99303;
    cursor: pointer;
}

.midBackground {
    background-color: #FDFDFD;
    padding-top: 3%;
    padding-bottom: 10%;
}

article {
    width: 63%;
    margin: 0 auto;
}

.boxPic{
    float: right;
    width: 100%;
}

h2 {
    font-size: 56px;
    font-weight: normal;
}

h3 {
    font-size: 30px;
    font-weight: normal;
}

.leftContent {
    float: left;
    width: 48%;
}

.rightContent {
    float: right;
    width: 48%;
}

.downloadContent {
    font-size: 0px;
    width: 240px;
    margin: 20px auto 0;
}

button {
    display: inline-block;
    border-radius: 5px;
    background: linear-gradient(180deg, #FFBA53 50%, #F99303 50%);
    width: 240px;
    height: 60px;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 56px;
}

button:hover {
    cursor: pointer;
    color: red;
}

.buttonInfo {
    display: inline-block;
    font-size: 8px;
    margin-top: 3px;
}

.downContent {
    columns: 2;
    margin-bottom: 16%;
}

.downTitle {
    margin-bottom: 25px;
    column-span: all;
    font-size: 30px;
    font-weight: normal;
}

.downContent p {
    margin-bottom: 30px;
}

footer {
    background-color: lightgray;
    padding: 15px 0 15px;
    
}

.bar {
    width: 70%;
    margin: 0 auto;
    font-size: 0;
}

.copyright {
    display: inline-block;
    margin-right: 53%;
    font-size: 8px;
    vertical-align: middle;
}

.shareList {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}

.shareList a {
    font-size: 0;
    display: inline-block;
}

.sharePic {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-left: 10px;
    font-size: 0;

}

.sharePic:hover {
    cursor: pointer;
}

.clear {
    clear: both;
}