#template {
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0.4;
    z-index: 0;
}

/** {
    outline: 1px solid;
}*/

body,
header,
nav,
h1,
h2,
ul,
li,
p,
footer,
img,
a {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0px;
}

header {
    background-color: lightgray;
    padding: 30px 0;
}

nav {
    width: 70%;
    margin: 0 auto;
    font-size: 0;
}

.logo {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.logoName {
    font-size: 10px;
    font-weight: bold;
    margin-top: -10px;
}

.menuList {
    display: inline-block;
    margin-left: 60px;
    vertical-align: middle;
}

.menu {
    display: inline-block;
    list-style: none;
    margin-left: 60px;
    font-size: 15px;
    padding: 10px;
}

.menu:hover {
    color: #F99303;
    cursor: pointer;
}

.midBackground {
    background-color: #FDFDFD;
    padding-top: 4%;
    padding-bottom: 11%;
}

.midContent {

    margin-left: 18%;
    margin-right: 18%;
}

.bigPic {
    float: right;
    width: 100%;
}


h1 {
    font-size: 56px;
    font-weight: normal;
}

h2 {
    font-size: 30px;
    font-weight: normal;
}


.try {
    padding-top: 9px;
}

.tryall {
    width: 220px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    border-radius: 5px;
    background: linear-gradient(180deg, #FFBA53 50%, #F99303 50%);
    width: 220px;
    height: 56px;
    color: white;s
    font-size: 24px;
    text-align: center;
    line-height: 56px;
}

.button:hover {
    cursor: pointer;
}

.buttoninfo {
    display: inline-block;
    font-size: 8px;
    margin-top: 3px;
}

.downContent {
    margin-left: 18%;
    margin-right: 18%;
    clear: both;
    columns: 2;
}

.leftContent {
    float: left;
    width: 48%;
}

.rightContent {
    float: right;
    width: 48%;
}

.downTitle {
    margin-bottom: 25px;
    column-span: all;
}

.downContent p {
    margin-bottom: 30px;
}

.clear {
    clear: both;
}

footer {
    background-color: lightgray;
    padding: 20px 0 10px;
    margin-top: 14%;
}

.bar {
    width: 70%;
    margin: 0 auto;
    font-size: 0;
}

.copyright {
    display: inline-block;
    margin-right: 430px;
    font-size: 8px;
    vertical-align: middle;
}

.shareList {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}

.shareList a {
    font-size: 0;
    display: inline-block;
}

.sharePic {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-left: 5px;
    font-size: 0;

}

.sharePic:hover {
    cursor: pointer;
}