@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
}
header{
position:fixed;
top:0;
left:0;
right:0;
z-index:400;
}

header  .logo{
backgroung-size:cover;
width:120px;
}
header div{
	background-color:#555753;
	height:80px;
	width:auto;
}

header a {
	    color:#babdb6;
		text-decoration:none;
	    font-family:times,new roman,snas serif;
	    font-size:25px;
		position:fixed;
		left:90px;
		top:20px;
}
header ul{
    line-height:80px;
	display:inline;
	font-size:17px;
}
header li{
	list-style:none;
	display:inline;
	position:relative;
	left:200px;
	padding:50px;
	color:white;
}
header  .cart{
    position:relative;
    top:10px;
    left:200px;
}

