p {
	margin: 0 auto
}
.nav-bar {
	background: #535151;
	height: 100px;
	padding: 0px
}
.menu {
	margin: 0px auto;
	list-style: none;
	color: #fff;
	font-size: 16px;
	max-width: 1100px;
	padding-left: 0px
}
.menu a {
	color: #fff;
	text-decoration:none;
}
.menu li{
	display: inline-block;
	margin: 40px
}
.menu li:first-child {
	margin: 37px;
	font-weight: 800;
	letter-spacing:5px;
	font-size: 22px;
}
.menu li:last-child {
	margin: 30px;

}
.banner {
	background-image: url(../image/cover.jpg);
	background-size: cover;
	background-position: 50% top;
	background-repeat: no-repeat;
	min-height: 530px;
	width: 100%;
	position: relative;
}
.slogan {
	width: 500px;
	height: 180px;
	position: absolute;
	top: 230px;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(255,255,255,0.6);
	text-align: center;
}
.slogan h2 {
	margin: 25px auto;
	font-size: 3.4em;
	font-weight: 900;
	font-family: "Times New Roman", Times, serif;
}
.slogan button {
	background: #2b2b2b;
	border: 0px;
	color: #fff;
	border-radius: 0px;
	width: 180px;
	height: 35px;
}
.line {
	background: #e3e3e3;
	height: 40px;
}
.line p {
	color: #38393b;
	text-align: center;
	letter-spacing: 4px;
	margin: 0 auto;
	line-height: 40px;
	font-size: 12px;
}
.title {
	width: 400px;
	margin: 60px auto;
	text-align: center;
	letter-spacing: 6px;
}
.title h2 {
	margin: 25px auto;
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
}
.title p {
	margin: 25px auto;
	color: #7d7d7d
}
.borbox {
	width: 30px;
	border-top:1px solid #666;
	margin: 0 auto;
}
.product {
	width: 930px;
	margin: 70px auto;
}
.items {
	display: inline-block;
}
.items img {
	width: 300px;
	height: 416px
}
.footer {
	background: #535151;
	color: #d1d1d1;
	font-size: 14px;
}
.footer .items {
	height: 150px;
	width: 300px;
}
.footer .items img {
	width: 150px;
	height: auto;
}
.infor {
	width: 930px;
	height: 250px;
	margin:0 auto;
}
.infor li {
	float: left;
	margin: 50px auto;
	list-style-type: none;
	width: 310px
}
.infor input {
	display: block;
	border-radius: 0px;
	border:1px solid ;
	color: #d1d1d1;
	background: #535151;
	width: 220px;
	height: 20px;
	padding: 5px
}
.infor input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d1d1d1;
}
.infor button {
	width: 90px;
	border: 0px;
	border-radius: 0px;
	margin: 10px auto;
	margin-left: 142px;
	height: 25px;
	background:  #d1d1d1;
	color: #535151
}
.infor p {
	margin: 5px auto;
	letter-spacing: 1px ;
}
.infor li:last-child {
	text-align: center;
}
.copyright {
	color: #d1d1d1;
	font-size: 13px;
	text-align: center;
	height: 40px
}