:root {
    --width-template: 1920px;
    --width-subject: 840px;
    --height-banner: 915;
    --height-subject: 260;
    --padding-header: 38px 200px;

    --font-family-general: 'Raleway', sans-serif;
    --font-family-slogan2: 'Playfair Display', serif;

    --color-subject: #303132;
    --color-theme-bg: #535151;
    --color-theme-text: #D2D2D2;
    --color-slogan1: #E3E3E3;
    --color-slogan2: #313233;
}

body {
    margin: auto;
    min-width: var(--width-template);
}

.content {
    margin: auto;
    width: var(--width-template);

    box-sizing: border-box;
}

header,
footer {
    color: var(--color-theme-text);
    background-color: var(--color-theme-bg);
}

header .content {
    padding: var(--padding-header);
    width: fit-content;
}

header :is(h1, nav) {
    display: inline-block;
}

h1 {
    margin: 0;

    letter-spacing: 8px;
}

header nav {
    margin: 0 110px 0 100px;

    font-size: 0;
    word-spacing: 63px;
}

header nav :is(ul, li, a) {
    padding: 0;

    display: inline-block;
}

header nav a {
    padding: 20px;

    font-size: 24px;
    text-decoration: none;
    word-spacing: normal;

    color: #D2D2D2;
}

header nav a:hover {
    color: white;
}

header img {
    /* Make vertical align fit template */
    padding-bottom: 20px;

    vertical-align: middle;
}

main>* {
    margin-bottom: 105px;
}

.banner {
    width: 100%;
    height: var(--height-banner);
    margin: auto;
    padding-top: 385px;
    box-sizing: border-box;

    background-image: url("img/cover.webp");
    background-position: center;
    /* Magic Number, to align template */
    background-size: 115%;
}

.banner h2 {
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    width: var(--width-subject);
    height: var(--height-subject);

    background-color: #FFFFFF60;
}

.banner h2 p {
    margin: auto;
    width: fit-content;

    font-family: var(--font-family-slogan2);
    font-size: 76px;
    letter-spacing: 4px;

    color: var(--color-subject);
}

.banner .shop-button {
    margin: 50px auto 0 auto;
    width: fit-content;
}

.banner .shop-button a {
    padding: 16px 90px;

    font-size: 28px;

    text-align: center;
    text-align-last: center;

    color: white;
    background: var(--color-subject);
}

.subject .slogan1 {
    margin: 0;
    padding: 20px 0px;

    font-family: var(--font-family-general);
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 5px;
    text-align-last: center;

    background-color: var(--color-slogan1);
}

.slogan2 :is(h2, p) {
    margin: 0;

    text-align-last: center;

    color: var(--color-slogan2);
}

.slogan2 h2 {
    font-size: 56px;
    font-family: var(--font-family-slogan2);
    letter-spacing: 18px;
}

.slogan2 p {
    font-size: 28px;
    font-family: var(--font-family-general);
    letter-spacing: 10px;
}

.slogan2 hr {
    margin: 40px auto 40px;
    width: 50px;
}

main .products {
    font-size: 0;
    text-align-last: center;
    word-spacing: 16px;
}

main .products img {
    height: 625px;
}

main .products img:hover {
    /* TODO: Only scale product up, and apply animation */
    transform: scale(1.1);
}

footer .content {
    padding: 90px 0;
}

footer .more-block {
    width: 1200px;
    margin: 0 auto 100px;

    text-align-last: justify;
}

footer .more {
    text-align-last: left;
    display: inline-block;
    vertical-align: top;
}

footer .more h2 {
    font-size: 22px;
    font-family: var(--font-family-general);
}

footer .sns .icons {
    text-align-last: justify;
    font-size: 0;
}

footer .sns a {
    font-size: 30px;

    color: var(--color-theme-text);
}

footer .sns i:hover {
    transform: scale(1.2)
}

footer .subscribe {
    width: 450px;
}

footer .subscribe form input[type=email] {
    padding: 6px;
    width: 100%;

    border: 2.5px solid var(--color-theme-text);
    outline: 0px;

    font-size: 20px;
    font-weight: bold;
    line-height: 30px;

    background: transparent;
    color: var(--color-theme-text);
}

footer .subscribe form button {
    margin-top: 10px;
    padding: 8px 12px;
    float: right;

    border: 0px;

    font-size: 20px;
    text-decoration: none;
    cursor: pointer;

    color: var(--color-theme-bg);
    background-color: var(--color-theme-text);
}

footer .subscribe form button:hover {
    background-color: #FFFFFF;
}

footer .contacts div {
    text-align-last: center;
}

footer .contacts a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

    color: var(--color-theme-text);
}

footer .copyright {
    margin: auto;
    width: fit-content;

    font-family: var(--font-family-general);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

footer .copyright a {
    color: var(--color-theme-text);
}