/**{
   	outline: 1px blue solid;
}*/



/*-----------------------------------------------------------------section3*/

#section3-bg{
	width: 100%;
	background-color:#4f4f4f;
	height: 370px;
}

.section3-content{
	
	width:1000px;
	margin:auto;
	height: 100%;
}

.left{
	margin-top: 5%;
	float: left;
	width: 250px;
	height: 180px;

}

.left-p p{
	text-align: center;
	color:#AAAAAA;
}

.left-icon {
	padding: 0 38px 0 38px ;
	margin-top: 25px;
}

.left-icon li{
	float:left;
	margin-left: 20px;
}

.mid{
	float:left;	
	height: 180px;
	width: 320px;
	margin-left: 90px;
	padding-top: 5%;
}

.mid-p p{
	color:#AAAAAA;
}

.mid-input input{
	background-color:#4f4f4f;
	color: #ffffff;
	width: 100%;
	height: 40px;
	margin-top: 20px;
}

.mid-input2 input{
	margin-top: 5px;
	width: 100px;
	height: 30px;
	float: right;
	background-color:#AAAAAA;
	color: #4f4f4f;
}

.right{
	float: right;
   width: 250px;
   height: 180px;
	margin-top: 5%;
}

.right p{
	line-height: 24px;
	text-align: center;
	color:#AAAAAA;
}

.down{
	width:100%;
	float: left;
	margin-top: 50px;
}

.down p{
	text-align: center;
	line-height: 24px;
	text-align: center;
	color:#AAAAAA;
}