header {
    background-color: rgb(83, 81, 81);
    font-family: 'Work Sans', sans-serif;
}

.header-wrapper {
    width: 1080px;
    margin: 0 auto;
    padding: 20px 0;
    text-align-last: justify;
}

h1 , nav , .shopping-bag {
    display: inline-block;
    vertical-align: middle;
}

h1 , nav {
    font-size: 0;
}

h1 a , nav a {
    display: inline-block;
    color: rgb(202, 202, 202);
    text-decoration: none;
}

h1 a {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 7px;
    padding: 5px;
}

nav a {
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px;
}

nav a + a {
    margin-left: 40px;
}

h1 a:hover , nav a:hover {
    color: white;
}

.shopping-bag {
    width: 45px;
}

.shopping-bag > img {
    width: 100%;
    vertical-align: bottom;
}