.prototype {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  z-index: 2;
}
* {
  /* outline: 1px solid #fa0; */
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 1150px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  /* opacity: 0.4; */
}

/* --heaer-- */
header {
  background-color: #535151;
  padding: 25px 0;
}
.header-wrapper {
  width: 840px;
  margin: 0 auto;
}
h1, nav, .cart {
  display: inline-block;
  vertical-align: middle;
}
h1 {
  text-transform: uppercase;
  font-size: 18px;
  color: #ddd;
  letter-spacing: 5px;
}
nav > a {
  text-decoration: none;
  color: #ddd;
  font-size: 14px;
  margin-left: 60px;
  transition: 0.25s;
  display: inline-block;
}
nav > a:hover {
  color: #fff;
}
.cart {
  margin-left: 70px;
}
.cart-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: url(../img/bag.png) center no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: .25s;
}
.cart-btn:hover {
  filter: grayscale(80%);
}

/* --banner-- */

.cover-area {
  background: center / cover no-repeat url('../img/cover.jpg');
  height: 100%;
  position: relative;
  height: 550px;
}
.seasonal-info {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%);
  width: 500px;
  background-color: rgba(255,255,255,0.5);
  color: #333;
  text-align: center;
}
.seasonal-info h2 {
  text-transform: uppercase;
  font-size: 48px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 4px;
  font-weight: 700;
  padding: 20px 0;
}
.seasonal-info a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 55px;
  color: #fff;
  background-color: #333; 
  margin-bottom: 20px;
  border: 2px solid #333;
  transition: .4s;
}
.seasonal-info a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  border: 2px solid #333;
}
.ship-info {
  background-color: #e3e3e3;
  text-align: center;
  padding: 12px 0;
}
.ship-info span {
  display: inline-block;
  text-transform: uppercase;
  color: #555;
  font-weight: 100;
  letter-spacing: 4px;
  font-size: 12px;
}

/* --content-- */
.content {
  text-align: center;
  margin-bottom: 80px;
}
.title {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 12px;
  padding: 65px 0 0 0;
  font-family: 'Times New Roman', Times, serif;
}
.title::after {
  content: '';
  display: block;
  margin: 30px auto;
  width: 25px;
  height: 1px;
  background-color: #333;
}
.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 100;
  color: #333;
}
.cargo-area {
  width: 850px;
  margin: 0 auto;
  display: flow-root;
}
.cargo-item {
  float: left;
  width: 276px;
  font-size: 0;
}
.cargo-item + .cargo-item {
  margin-left: 11px;
}
.cargo-item img {
  width: 100%;
  height: auto;
}
.cargo-item-2 {
  position: relative;
}
.cargo-item-2 span {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 10px;
  position: absolute;
  display: inline-block;
  top: 70px;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 400;
}
.cargo-item a {
  padding: 16px 0;
  background-color: #333;
  display: inline-block;
  color: #fff;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .4s;
}
.cargo-item a:hover {
  background-color: #666;
  color: #fff;
}
/* --footer */
footer {
  padding: 70px 0;
  text-align: center;
  background-color: #535151;
  color: #ccc;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 10px;
}
footer h4 {
  font-weight: 100;
  font-size: 8px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.footer-wrapper {
  width: 820px;
  margin: 0 auto;
}
.top-area {
  display: flow-root;
  margin-bottom: 65px;
}
.social-media, 
.rapid-register,
.contact-info {
  float: left;
  width: 33.33%;
}
.social-media {
  font-size: 20px;
  text-align: left;
}
.social-media h4 {
  padding-left: 30px;
}
.social-media a {
  display: inline-block;
  margin-left: 30px;
}
.social-media a + a {
  margin-left: 10px;
}
.social-media i {
  color: #fff;
}
.rapid-register {
  text-align: right;
}
.rapid-register h4 {
  text-align: left;
}
input[type=email] {
  display: block;
  width: 100%;
  margin-bottom: 6px;
  background-color: #535151;
  border: 1px solid #d3d3d3;
  padding: 5px;
  outline: none;
  caret-color: #fff;
}
input[type=email]::placeholder {
  color: #fff;
}
input[type=submit] {
  background-color: #d3d3d3;
  color: #666;
  font-size: 10px;
  border: none;
  font-weight: 100;
  padding: 5px 9px;
  cursor: pointer;
  transition: .4s;
}
input[type=submit]:hover {
  background-color: #fff;
  color: #555;
}
.contact-info {
  text-align: right;
}
.contact-info h4 {
  padding-right: 20px;
}
.contact-info p {
  padding-right: 42px;
  letter-spacing: 1px;
}

.copyright {
  text-align: center;
}

