.debugging {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  opacity: 0.4;
  width: 100%;
  height: auto;
}

* {
  /* outline: 1px solid #fa0; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  position: relative;
  min-width: 1150px;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}
.layout_wrapper {
  width: 845px;
  margin: 0 auto;
}
/* --header-- */
header {
  padding: 26px 0;
  background-color: #535151;
}
header > .layout_wrapper {
  font-size: 0;
}
.logo, .menu_navigation, .cart_btn {
  display: inline-block;
  vertical-align: middle;
}
.logo a {
  color: #ccc;
  font-size: 18px;
  letter-spacing: 5px;
  display: inline-block;
  transition: .4s;
}
.logo a:hover {
  color: #fff;
}
.menu_list {
  margin-left: 61px;
  font-size: 14px;
  color: #ccc;
  transition: .4S;
}
.menu_list:hover {
  color: #fff;
}

.cart_btn {
  width: 28px;
  margin-left: 76px;
}
.cart_btn:hover {
  cursor: pointer;
  filter: grayscale(90%);
  transition: .4s;
}
.cart_btn img {
  width: 100%;
}

/* --main-- */
/* banner */
.cover_area {
  position: relative;
  height: 548px;
  background: url(../img/cover.jpg) center / cover no-repeat;
}
.seasonal_info {
  width: 500px;
  height: 150px;
  padding: 20px 0;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(255,255,255,0.6);
}
.seasonal_info h2 {
  font-size: 48px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 3px;
}
.seasonal_info a {
  display: inline-block;
  padding: 10px 60px;
  margin-top: 20px;
  color: #fff;
  background-color: #303132;
  border: 1px solid #303132;
  transition: .4s;
}
.seasonal_info a:hover {
  background-color: #fff;
  color: #303132;
}

.ship_info {
  background-color: #e3e3e3;
  text-align: center;
  font-size: 12px;
  padding: 12px 0;
  letter-spacing: 3px;
  color: #555;
}
/* product */
.product {
  text-align: center;
}
.product > .layout_wrapper {
  padding: 70px 0;
}
.product h2 {
  font-size: 32px;
  letter-spacing: 11px;
  font-family: 'Times New Roman', Times, serif;
}
.product h2::after {
  content: '';
  width: 25px;
  height: 1px;
  display: block;
  background-color: #000;
  margin: 0 auto;
  margin-top: 30px;
}
.product p {
  font-size: 18px;
  margin-top: 24px;
  letter-spacing: 6px;
  
}
.product_container {
  display: flow-root;
  margin-top: 65px;
}
.item {
  float: left;
  width: 32%;
}
.item + .item {
  margin-left: 2%;
}

.item img {
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}
.item a {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  width: 100%;
  padding: 13px 0;
  background-color: #000;
  border: 1px solid #000;
  transition: .4s;
}
.item a:hover {
  color: #000;
  background-color: #fff;
}
.item_2 {
  position: relative;
}
.item_2 span {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  font-size: 50px;
  letter-spacing: 10px;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
}
/* --footer-- */
footer {
  background-color: #535151;
  height: 275px;
  color: #fff;
}
footer p {
  font-size: 10px;
  margin-bottom: 6px;
  letter-spacing: 2px;
  color: #ddd;
}
footer a {
  color: #ddd;
  transition: .4s;
}
footer a:hover {
  color: #fff;
}
.clear_fix {
  display: flow-root;
}
.social_media, .rapid_register, .contact_info {
  float: left;
  width: fit-content;
  margin-top: 70px;
}
.social_media {
  margin-left: 40px;
}
.social_media a + a {
  margin-left: 12px;
}
.rapid_register {
  margin-left: 110px;
  width: 272px;
}
input {
  display: block;
}
input[type=email] {
  width: 100%;
  color: #fff;
  background-color: #535151;
  border: 1px solid #fff;
  padding: 5px;
  outline: none;
}
input[type=email]::placeholder {
  color: #fff;
}
input[type=submit] {
  margin-left: auto;
  padding: 5px;
  background-color: #d3d3d3;
  border: none;
  color: #555;
  cursor: pointer;
  margin-top: 10px;
}
.contact_info {
  text-align: center;
  margin-left: 110px;
}
.copyright {
  text-align: center;
  margin-top: 60px;
}
.copyright a {
  text-decoration: underline;
  text-decoration-color: #333;
}