.prototype {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0.4;
}
:root {
  --origin-width: 1391px;
  --wrapper-width: 1015px;
  --primary-color: #535151;
  --accent-color: #303132;
  --heading-font: "Times New Roman", Times, serif;
  --text-font: Arial, Helvetica, sans-serif;
  --text-color: #ccc;
}
/* --customerized reset-- */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
button {
  border: none;
}
* {
  box-sizing: border-box;
  /* outline: 1px solid #fa0; */
}
.text_hover:hover {
  transition: 0.4s;
}
.text_hover:hover {
  color: #fff;
}
.button_hover {
  transition: 0.4s;
}
.button_hover:hover {
  background-color: #fff;
  color: #000;
}
body {
  position: relative;
  min-width: var(--origin-width);
  margin: 0 auto;
}

/* --header-- */
header {
  padding: 22px 0 38px 0;
  background-color: var(--primary-color);
}
.header_wrapper {
  width: var(--wrapper-width);
  margin: 0 auto;
  text-align-last: justify;
}
.logo,
.menu {
  display: inline-block;
  vertical-align: middle;
}
.logo {
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.menu {
  text-transform: capitalize;
}
.menu_item + .menu_item {
  margin-left: 70px;
}
.cart {
  padding: 0;
  vertical-align: middle;
  background-color: var(--primary-color);
  cursor: pointer;
}
.cart img {
  transition: 0.4s;
  vertical-align: bottom;
}
.cart:hover img {
  filter: contrast(140%);
}

/* --main-- */
/* banner */

.cover {
  position: relative;
  background: url(../img/cover.jpg) center / cover no-repeat;
  height: 668px;
}
.season {
  position: absolute;
  top: 285px;
  left: 50%;
  padding: 30px 63px;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}
.season > h2 {
  font-size: 54px;
  letter-spacing: 5px;
  font-family: var(--heading-font);
  text-transform: uppercase;
}
.season > a {
  display: inline-block;
  padding: 13px 74px;
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  border: 1px solid #000;
  text-transform: capitalize;
  font-family: var(--text-font);
  background-color: var(--accent-color);
}
.banner > p {
  padding: 15px 0;
  letter-spacing: 3px;
  font-family: var(--text-font);
  text-align: center;
  text-transform: uppercase;
  background-color: #e3e3e3;
}

/* product */
.product {
  padding: 72px 0 90px 0;
}
.product > h3 {
  font-size: 38px;
  letter-spacing: 13px;
  font-family: var(--heading-font);
  text-transform: uppercase;
  text-align: center;
}
.product > h3::after {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  margin: 36px auto 0 auto;
  background-color: #000;
}
.product > p {
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: 7px;
  text-align: center;
  text-transform: capitalize;
}
.product_wrapper {
  width: var(--wrapper-width);
  margin: 74px auto 0 auto;
  text-align-last: justify;
}
.product_item {
  width: 32%;
  height: 450px;
  display: inline-block;
  vertical-align: middle;
}
.product_img {
  width: 100%;
}
.product_img > img {
  width: 100%;
  height: 390px;
  vertical-align: bottom;
}
.product_sale {
  position: relative;
}
.product_sale > img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.product_item a {
  display: inline-block;
  padding: 18px 0;
  border: 1px solid #000;
  background-color: var(--accent-color);
  width: 100%;
  text-transform: uppercase;
  text-align-last: center;
}
.product_sale h3 {
  position: absolute;
  font-size: 58px;
  font-weight: 400;
  letter-spacing: 16px;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-family: var(--heading-font);
  cursor: pointer;
  transition: 0.4s;
}
.product_sale h3:hover {
  color: rgb(232, 139, 68);
}
/* --footer-- */
footer {
  padding: 80px 0;
  background-color: var(--primary-color);
}
.footer_content {
  width: var(--wrapper-width);
  margin: 0 auto;
  padding: 0 40px;
  text-align-last: justify;
}
.footer_content > div {
  display: inline-block;
  vertical-align: top;
}
.footer_content h4 {
  margin-bottom: 10px;
  font-size: 16px;
  text-align-last: left;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--text-font);
  color: var(--text-color);
}
.social i {
  font-size: 20px;
  transition: 0.4s;
}
.social i:hover {
  filter: contrast(200%);
}
.register {
  width: 325px;
}
input[type="email"] {
  display: block;
  width: 100%;
  padding: 6px;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  background-color: var(--primary-color);
  transition: 0.6s;
}
input[type="email"]:focus {
  box-shadow: 0 0 10px #ccc, 0 0 30px #ccc;
}
input[type="email"]::placeholder {
  color: #fff;
}
input[type="submit"] {
  display: block;
  padding: 7px 10px;
  margin-top: 10px;
  margin-left: auto;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
input[type="submit"]:hover {
  box-shadow: 0 0 5px #ccc, 0 0 10px #ccc;
  color: #555;
}
.contact {
  text-align-last: center;
}
.contact h4 {
  margin-bottom: 0;
}
.contact a {
  display: block;
  padding: 0;
}
.copyright {
  margin-top: 60px;
  color: var(--text-color);
  text-align: center;
}
.copyright > a {
  text-decoration: underline;
  text-decoration-color: #333;
}
