* {
  outline: solid 1px gainsboro;
  font-family: "Kanit", sans-serif;
}

body {
  margin: 0;
  min-width: 1200px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/*  reset */

p,
h2 {
  margin: 0;
  padding: 0;
}

/*                          Header                  */
header {
  background-color: #535151;
}

header .container {
  padding: 20px 0;
  text-align: center;
}

header h1 {
  display: inline-block;
  color: #d2d2d2;
  letter-spacing: 5px;
  font-size: 21px;
  margin: 0;
  margin-right: 90px;
  vertical-align: middle;
}

header nav {
  display: inline-block;
  line-height: 50px;
}
h1 a {
  text-decoration: none;
  color: #d2d2d2;
  padding: 10px 0;
}
nav a {
  text-decoration: none;
  display: inline-block;
  color: #d2d2d2;
  vertical-align: middle;
  padding: 10px 0;
  margin-left: 60px;
}

header a img {
  height: 43px;
  vertical-align: bottom;
  object-fit: contain;
}

/* nav a effect */
nav a:first-child {
  margin-left: 0;
}

h1 a:hover,
nav a:hover {
  color: #fff;
}

/*                 Main                */
.banner {
  background-color: #e3e3e3;
}
.banner-image {
  font-size: 0;
  background-image: url(img/cover.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 600px;

  /* setting place */
  position: relative;
}

.banner-text {
  background-color: rgba(255, 255, 255, 0.6);
  font-family: "Kanit", sans-serif;
  text-align: center;
  padding: 25px 40px;
  position: absolute;
  /* 以relative的箱子作為參考點，進行四個方向的移動 */
  top: 50%;
  left: 50%;
  /* 以容器底線為參考點（移動x, 移動y）方向 */
  transform: translate(-50%, -50%);
}

.banner-text h2 {
  font-family: "Unna", serif;
  font-size: 64px;
  letter-spacing: 4px;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
}

.banner-text a {
  display: inline-block;
  background-color: #333;
  color: white;
  font-size: 20px;
  padding: 10px 70px;
  text-decoration: none;
}

.banner p {
  margin: 0;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
  font-family: sans-serif, monospace;
  padding: 10px 0;
}

/*                   Section                   */

.sales-title {
  text-align: center;
  padding: 50px 0;
}
.sales-title h2 {
  font-size: 35px;
  font-family: serif;
  letter-spacing: 5px;
}
h2::after {
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  margin: 20px auto;
  background-color: black;
}

.sales-title p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 5px;
  font-family: sans-serif;
}

/* sales products */

.sales-products {
  text-align: center;
  font-size: 0;
  padding: 50px 0;
}

.sales-products div {
  display: inline-block;
  width: 30%;
}
.sales-products a {
  display: inline-block;
  margin-right: 20px;
  height: 450px;
  width: 325px;
}
.sales-products a:last-child {
  margin-right: 0;
}

.sales-products img {
  width: 100%;
  height: 100%;
}

/*                   Footer                   */

footer {
  background-color: #606060;
}
footer .container {
  padding: 40px 0;
  text-align: center;
}
/* footer text style */
.footer-title {
  font-size: 15px;
  color: #e3e3e3;
  text-transform: uppercase;
  font-weight: 300;
}

div.subscribe,
div.contact {
  margin-left: 150px;
}

/* Media part */
.media {
  color: #e3e3e3;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  text-align: center;
}
.media h3 {
  margin: 0 auto;
}

.media i {
  font-size: 18px;
}

.media a {
  color: #e3e3e3;
  margin: 0 8px;
  padding: 2px;
  display: inline-block;
}
.media a:hover {
  color: #fff;
}

/* subscribe part */

.subscribe {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
form {
  text-align: right;
}
.subscribe label {
  display: block;
  text-align: left;
}
.subscribe input {
  background-color: #606060;
  color: #fff;
  width: 100%;
  border: solid 1px #e3e3e3;
  display: block;

  box-sizing: border-box;
}
.subscribe ::placeholder {
  color: #fff;
}
.subscribe button {
  margin-top: 5px;
  background-color: #e3e3e3;
  border: none;
  font-weight: 300;
  padding: 5px 9px;
  font-family: serif;
  cursor: pointer;
}

/* contact part */
.contact {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.contact h4 {
  margin: 0;
}

.contact p {
  margin: 0;
}
.contact a {
  text-decoration: none;
  color: #fff;
}

/* footer p */
p.copyright {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  text-transform: none;
  font-weight: 300;
}
.copyright a {
  text-decoration: none;
  color: #e3e3e3;
}
