.banner-wrapper {
    background-image: url("../img/cover.jpg");
    background-position: center center;
    background-size: cover;
    height: 600px;
    position: relative;
}

.banner-container {
    padding: 30px 60px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgb(255, 255, 255 ,0.40);
}

.banner-container h2 {
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif ;
    margin: 0 0 20px;
}

.banner-container-button {
    display: inline-block;
    font-size: 22px;
    text-transform: capitalize;
    padding: 10px 60px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(50, 50, 50);
    color: rgb(230, 230, 230);
}

.banner-container-bottom:hover {
    background-color: rgb(120, 160, 171);
    color: black;
}

.banner h3 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    background: rgb(227, 227, 227);
    color: rgb(100, 100, 100);
    padding: 20px 0;
    margin: 0;
}

.product-wrapper {
    width: 1080px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
}

.product-wrapper h2 {
    font-size: 46px;
    text-transform: uppercase;
    letter-spacing: 10px;;
    font-family: 'Times New Roman', Times, serif ;
    margin: 0 0 50px;
}

.horizontal-line {
    width: 35px;
    height: 1.5px;
    background-color: rgb(155, 155, 155);
    margin: 0 auto  50px;
}

.product-wrapper h3 {
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 7px;
    font-family: 'Nunito', sans-serif;
    margin: 0 0 50px;
}

.product-container {
    text-align-last: justify;
}

.product-item {
    display: inline-block;
    width: 345px;
    height: 470px;
    text-transform: uppercase;
    vertical-align: top;
    text-align-last: initial;
}

.image-box {
    height: calc( 470px - 60px );
}

.image-box-full {
    display: inline-block;
    width:100%;
    height: 100%;
}

.product-item img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    object-fit: cover;
}
  
.title {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(50, 50, 50);
    color: white;
}

.title:hover {
    background-color: rgb(120, 160, 171);
    color: black;
}

.product-container :nth-last-of-type(2) {
    position: relative;
}

.title-position {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    letter-spacing: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif ;
    color: black;
}

.title-position:hover {
    color: rgb(120, 160, 171);
}