body{
	margin: 0;
}
a{
	text-decoration: none;    /*去底線*/
}
ul{
	padding: 0;
}
li{
	display: inline;
}

.clear-margin-collapsing{		/*去除邊框崩潰*/
	overflow: auto;
}

/*-------------------------------header-------------------------------*/
header{
	background: #535050;
}

.header-container{
	width: 850px;
	margin: 0 auto;
}

#logo{
	font-size: 18px;
	letter-spacing: 4pt;
	font-weight: 900;
}

header ul{
	display: inline-block;
	font-size: 13px;
	margin: 35px 0px 35px 35px;
}

header li{
	margin: 0px 45px 0px 20px;
}

#home-color{
	color: white;
}

header a{
	color: #d5d5d5;
}

#header-picture{
	display: inline-block;
	position: relative;
	top: 8px;
	left: 25px;	
}

header img{
	width: 30px;
	height: 30px;
}

/*-------------------------------section-------------------------------*/
section {
	height: 550px;
	background-image: url(images/cover.jpg);
	background-size: cover;
	background-position: center;
}

.section-container{
	width: 500px;
	height: 160px;
	margin: 237px auto 0px auto;
	background: rgba(255,255,255,0.5);
	text-align: center;
}

section p{
	font-family: times new roman;
	font-size: 52px;
	font-weight: 900;
	margin:20px 0px 20px 0px;
}

section button{
	border: none;
	color: white;
	background: #2c2e2f;
	padding: 11px 61px;
	font-size: 16px;
}

/*---------------------------miiddle section---------------------------*/
#middle-section{
	margin: 0;
	text-align: center;
	font-size: 12px;
	letter-spacing: 4px;
	background: #e4e4e4;
	padding: 10px 0px;
}

/*-------------------------------article-------------------------------*/
article{
	text-align: center;
}

article h1{
	font-family: times new roman;
	font-size: 34px;
	letter-spacing: 6pt;
	color: #1c1c1c;
	margin: 60px 0px 0px 0px;
}

article p{
	font-weight: 100;
	font-size: 55px;
	color: #89898a;
	margin: 0px;
	line-height: 35pt;
}

article h6{
	font-weight: 400;
	color: #3f3f3f;
	margin-top: 10px;
	letter-spacing: 4pt;
}

article li{
	display: inline-block;
}

article img{
	width: 270px;
	height: 370px;
}

/*-------------------------------footer-------------------------------*/
footer{
	background: #535050;
	text-align: center;
}

footer li{
	display: inline-block;
	margin: 0px 50px;
	vertical-align: top;
}

.connect li{
	margin: 0;
}

.connect img{
	width: 27px;
	height: 27px;
}

footer h6{
	margin: 42px 0px 4px 0px;
	font-size: 12px;
	color: #cccccc;
	font-weight: 400;
	letter-spacing: 1pt;
}

footer form h6{
	text-align: left;
}

footer input{
	display: block;
	background: #535050;
	border: 1px white solid;
	width: 268px;
	height: 25px;
}

footer button{
	float: right;
	border: 0;
	font-size: 12px;
	padding: 6px 10px;
	margin-top: 6px;
}

footer p{
	margin: 0;
	color: #e5e5e5;
	font-size: 11px;
	font-family: Microsoft JhengHei;
	letter-spacing: 1pt;
}

#footer-content{
	margin: 55px auto; 
}

span{
	text-decoration: underline;
	text-decoration-color: #3c3b3b;
}
