:root {
  --header-color: rgb(83, 81, 81);
  --header-text-color: rgb(211, 211, 211);
  --header-text-hover-color: rgb(248, 248, 248);
  --main-theme-color: rgb(48, 49, 50);
  --buy-season-color: rgba(255, 255, 255, 0.4);
  --buy-season-a-color: rgb(243, 243, 243);
  --section-break-color: rgb(227, 227, 227);
  --footer-color: rgb(83, 81, 81);
  --footer-text-color: rgb(211, 211, 211);
}

*:not(html) {
  outline: 1px dotted greenyellow;
}

body {
  min-width: 1024px;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 20px;
  margin: 0;
}

h2,
h3,
h4,
p {
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

/* reset */

header {
  background-color: var(--header-color);
}

header a {
  color: var(--header-text-color);
}

.header-content {
  width: 1000px;
  padding: 30px 12px;
  margin: 0 auto;
  font-size: 0;
}

.header-content > * {
  vertical-align: middle;
}

.logo {
  display: inline-block;
  letter-spacing: 8px;
}

.logo a {
  display: inline-block;
  padding: 10px 0;
}

nav {
  display: inline-block;
  margin: 0 70px;
}

nav a {
  display: inline-block;
  font-size: initial;
  padding: 10px;
  text-transform: capitalize;
}

nav a + a {
  margin-left: 50px;
}

nav a:hover {
  color: var(--header-text-hover-color);
}

.cart {
  display: inline-block;
}

.cart a {
  display: inline-block;
}
/* header */

.hero {
  height: 700px;
  position: relative;
  background-image: url(./img/cover.jpg);
  background-size: cover;
  background-position: center top;
}

.buy-season {
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  padding: 40px;
  text-align: center;
  background-color: var(--buy-season-color);
}

.buy-season h2 {
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  text-transform: uppercase;
}

.buy-season a {
  display: inline-block;
  padding: 10px 80px;
  margin-top: 10px;
  background-color: var(--main-theme-color);
  color: var(--buy-season-a-color);
}

/* hero */

.section-break {
  background-color: var(--section-break-color);
}

.section-break p {
  text-align: center;
  padding: 10px 0;
  font-size: 8px;
  font-weight: 300;
  letter-spacing: 6px;
  text-transform: uppercase;
}

/* break */

.demo-content {
  width: 1024px;
  padding: 60px 0;
  margin: 0 auto;
}

.demo-content .category {
  position: relative;
  padding: 20px 0;
  letter-spacing: 16px;
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}

.demo-content .category::after {
  content: "";
  height: 1px;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: var(--main-theme-color);
}

.demo-content .sub-category {
  padding: 20px 0;
  letter-spacing: 8px;
  font-weight: 300;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
}

.demo-content .products {
  font-size: 0;
  padding: 0 12px;
}

.products .product {
  display: inline-block;
  width: 300px;
  height: 420px;
}

.products .product + .product {
  margin-left: 50px;
}

.product > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* demo */

footer {
  background-color: var(--footer-color);
}

.footer-content {
  width: 900px;
  padding: 60px 0;
  margin: 0 auto;
  color: var(--footer-text-color);
  font-size: 0;
}

.footer-content p {
  font-size: initial;
}

.footer-content > div {
  display: inline-block;
  vertical-align: top;
}

.footer-content > div > p:first-child {
  text-transform: uppercase;
}

.social-links {
  width: 160px;
}

.social-links p {
  text-align: center;
}

.social-links .social-icons {
  width: 160px;
  margin: 5px auto 0 auto;
}

.social-icons a {
  display: inline-block;
  color: var(--footer-text-color);
}

.social-icons a + a {
  margin-left: 20px;
}

.social-icons i {
  font-size: 20px;
}

.subscribe {
  width: 300px;
  margin: 0 140px;
}

.subscribe form {
  display: flow-root;
}

.subscribe input[type="email"] {
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 22px;
  margin-top: 5px;
  background-color: var(--footer-color);
  border: 1px solid var(--footer-text-color);
  font-size: 16px;
  color: var(--footer-text-color);
}

.subscribe input[type="submit"] {
  float: right;
  margin-top: 5px;
  padding: 5px 10px;
  border: none;
  background-color: var(--footer-text-color);
  font-size: 16px;
  color: var(--footer-color);
  cursor: pointer;
}

.contacts {
  width: 160px;
  text-align: center;
}

.contacts a {
  display: block;
  font-size: initial;
  color: inherit;
}

.contacts-info {
  font-weight: 700;
}

.copyright {
  margin-top: 20px;
  text-align: center;
}
/* footer */
