
#navigation_background {
    background-color: #535151;
    height: 94px;
}

#navigation {
    padding-top: 32px;
    margin: 0 auto;
    width: 896px;
    color: #d2d2d2;
}

.menu {
    float: left;
}

.menu li {
    padding-right: 62px;
    font-size: 16px;
}

#logo {
    font-size: 22px;
    letter-spacing: 3pt;
}

.view_shopping_cart {
    height: 35px;
    float: right;
    margin-right: -14px;
    margin-top: -9px;
}

.menu_selected {
    color: #fff;
}
