body {
  font-size: 18px;
  margin: 0;
}
body a, h1, h2 , h4  {
  text-transform: uppercase;
}
header,footer {
  color: #aaa;
  background-color: #555;
}
.serif {
  font-family: serif;
}

/*header*/
header a {
  color: #ccc;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
.header-container {
  padding: 30px 0;
  width: 68%;
  margin: 0 auto;
}
.logo {
  font-size: 21px;
  letter-spacing: 5px;
  font-weight: bold;
}
.navbar {
  display: inline-block;
  margin: 0 70px;
}
.navbar a {
  font-size: 16px;
  margin: 0 0 0 70px;
  text-transform: capitalize;
}
.navbar a:hover {
  color: #fff;
}
.navbar a:first-child {
  margin: 0;
}
.shopping {
  width: 35px;
  vertical-align: text-top;
}
.banner {
  background: url(../img/cover.jpg) center center no-repeat;
  background-size: cover;
  padding: 20% 30% 15% 30%;
}
.banner h1 {
  font-size: 60px;
  margin: 0;
}
.banner-title {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  color: #333;
}
main button {
  width: 220px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  border: 0;
  cursor: pointer;
}
in-ship {
  background-color: #ddd;
  text-align: center;
  color: #333;
  letter-spacing: 7px;
  line-height: 45px;
}
.line {
  border-top: 1px #000 solid;
  width: 3%;
  margin: 0 auto;
}
main {
  margin: 0 0 100px 0;
}
.ship {
  background-color: #ddd;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}
.item h2 {
  font-size: 42px;
  letter-spacing: 10px;
  text-align: center;
  margin: 60px 0 30px 0;
}
.item h3{
  font-size: 21px;
  letter-spacing: 8px;
  text-align: center;
  margin: 30px 0 80px 0;
  text-transform: capitalize;
  font-weight: 400;
}
.item-pic-product {
  width: 70.4%;
  margin: 0 auto;
  font-size: 0;
}
.product-item-pic {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 0 10px;
}
.product-item-pic:first-child {
  margin: 0;
}
.item-pic-product img {
  display: block;
}
.product-item-pic span {
  background-color: #333;
  display: block;
  width: 100%;
  color: white;
  line-height: 55px;
  text-align: center;
  font-size: 21px;
}

/*footer*/
footer {
  text-align: center;
}
.footer-container {
  width: 75%;
  margin: 0 auto;
  padding: 70px;
}
footer button {
  padding: 7px 20px;
  font-size: 16px;
  border: 0;
  color: #555;
  background-color: #aaa;
  margin: 10px 0 0 0;
  float: right;
}
.contact-footer h4 {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  color: #aaa;
}
.footer-title-input {
  text-align: left;
  margin: 0 0 0 15px;
}
/*.contact-footer:nth-child(2) h4 {
  text-align: left;
  margin: 0 0 0 15px;
}*/
.contact-footer {
  display: inline-block;
  width: 32%;
  vertical-align: text-top;
}
.footer-phone {
  color: #fff;
  font-size: 14px;
  text-transform: lowercase;
}
.footer-phone a {
  color: #fff;
  text-decoration: none;
}
.footer-icon a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  margin: 0 10px 0 0;
}
.footer-icon a:last-child {
  margin: 0;
}
.email {
  display: block;
  margin: 5px 0 0 0;
}
input {
  background-color: transparent;
  font-size: 14px;
  border: 1px #fff solid;
  color: #fff;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: #fff;
}
.footer-input::after {
  content: '';
  clear: both;
}
.copyright {
  font-size: 14px;
  letter-spacing: 2px;
  margin: 100px 0 0 0;
}
.copyright a {
  color: #aaa;
  text-decoration: underline #000;
}
