
.clear {
	clear: both;
}

body {
	margin: 0px;
}

/************ HEADER START************/
header {
	background-color: #444444;
}

.logo {
	position: relative;
	left: 150px;
	margin: 20px 0px; 
	float: left;
}

nav {
	position: relative;
	left: 150px;
	float: left;
}

nav li {
	display: inline;
	padding: 0px 60px;
	color: white;
}

#cart {
	position: relative;
	left: 150px;
	float: left;
}
/************ HEADER END************/

/************ CONTENT TOP START************/
.cover {
	position: relative;
}

#mainPic {
	width: 100%;
}

.midBox {
	position: absolute;
	top: 200px;
	left: 35%;
	height: 120px;
	width: 30%;
	background-color: white;
	opacity: 0.5;
}

.wordBox {
	position: absolute;
	top: 200px;
	left: 35%;
	height: 120px;
	width: 30%;
}

#wordTopBig  {
	text-align: center;
	letter-spacing: 6px;
	margin: 10px 0px;
}

#wordTopMid {
	text-align: center;
	color: white;
	font-size: 15px;
	padding:10px;
	width: 150px;
	margin: auto;
	background-color: #444444; 
}

#wordTopBot {
	text-align: center;
	color: 	#D87093;
	background-color: #FFF0F5; 
	font-size: 15px;
	letter-spacing: 3px;

	padding:10px;
	margin: 0px;
}
/************ CONTENT TOP END ************/

/************ CONTENT DOWN START ***********/
.contentDown {
	margin-top: 60px;
}

hr {
	width: 30px;
	color: #D87093
}

#wordDownTop {
	text-align: center;
	letter-spacing: 15px;
}

#wordDownBot{
	text-align: center;
	font-size: 15px;
	color: #D87093;
	letter-spacing: 5px;
}

.showPicture {
	margin: 60px auto;
	width: 550px;
}

.showPicture img{
	margin: 5px;

}
/************ CONTENT DOWN END ***********/

/************ FOOTER START ***********/
footer {
	background-color: #444444;
	color: white;
	padding-bottom: 60px;
}

footer h3 {
	text-align: center;
	margin: 0px;
}

.footBox {
	width: 75%;
	margin: auto;

}

.boxItem {
	display: inline-block;
	width: 300px;
	margin: 30px 30px;
}

.boxItem ul {
	list-style-type: none;
	padding: 0px;
	margin: 10px 55px;
}

.boxItem li {
	display: inline;
	padding: 10px;
}

#connection {
	float: left;
}

#membership {

	width: 300px;
	float: left;
}
#membership h3 {
	text-align: left;
}

input#email  {
	background-color: #444444;
	border-style: solid;
	border-color: white;
	margin: 10px 0px;
	color: white;
	width: 300px;
}

input#submit {
	position: relative;
	width: 100px;
	left: 200;
	margin: 0px;
	background-color: #FFF0F5;
	color: #444444;

}

#assistance {
	float: left;
}

#assistance p {
	font-size: 12px;
	margin: 10px 0px 10px 0px;
}

p#phone {
	text-align: center;
	margin-bottom: 5px;

}

p#email {
	text-align: center;
	margin-top: 0px;
}

p#copyright {
	margin: 0;
	font-size: 15px;
	text-align: center;
}
/************ FOOTER END ***********/

