#bottomContainer div {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

#bottomContainer ul {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  padding-left: 7em;
  padding-right: 7em;
  justify-content: space-between;
}

#bottomContainer img {
  width: 18em;
  height: auto;
}
