#footer {
  color: #848484;
}

#footerBlocks {
  display: flex;
  justify-content: space-between;
  padding: 1em 8em 0em 8em;
}

#div1 {
  width: 16em;
  height: 8em;
  /*background-color: #00FF40;*/
  padding-top: 2em;
}

#div1 li {
  display: inline-flex;
  padding-left: 1.1em;
  padding-right: 0.1em;
  width: 1em;
  height:auto;
}

#div1 img {
  width: 1em;
  height: 1em;
}


#div2 {
  width: 16em;
  height: 8em;
  padding-top: 2em;
  /*background-color: #00FF40;*/
}

#div2 input{
  border-color: #FFFFFF;
}

#inputText {
  padding: 0;
  margin: 0.3em 0 0 0;
  width: 23em;
  height: 2em;
  background-color: #424242;
  color: #FFFFFF;
  padding-left: 0.5em;
}

#submit {
  margin-left: 16em;
  margin-top: 0.5em;
  color: #424242;
}

#div3 {
  width: 16em;
  height: 8em;
  padding-top: 2em;
  /*background-color: #00FF40;*/
}

#footerBanner {
  /*background-color: #4000FF;*/
  width: 70em;
  height: 6em;
}

#footerBanner p {
  font-size: 1em;
  display: flex;
  justify-content: center; //centered horizontally
  margin: 0;
}
