#header {
  background-color: #424242;
  width: 70em;
  height: 5em;
  margin: 0 auto; // top = 0, left = auto
}

#topContainer {
  background-color: #D8D8D8;
  width: 70em;
  height: 36em;
  margin: 0 auto; // top = 0, left = auto
}

#bottomContainer {
  background-color: #FFFFFF;
  width: 70em;
  height:42em;
  margin: 0 auto; // top = 0, left = auto
}

#footer {
  background-color: #424242;
  width: 70em;
  height: 17em;
  margin: 0 auto; // top = 0, left = auto
}
