#topContainer {
  position: relative;
  z-index: -1;
}
#topContainer img {
  width: 70em;
  height: 34em;
  margin: 0;
  padding: 0;
  clear: both;
}

#topContainer p {
  color: #848484;
  font-size: 0.7em;
  display: flex;
  justify-content: center; //centered horizontally
  margin: 0;
  /*padding: 0em; // should use flexbox to adjust the vertical position*/
}


#transparentBlock {
  position: absolute;
  z-index: 0;
  left: 20em;
  top: 14.5em;
  width: 30.5em;
  height: 9.5em;
  background-color: #3A01DF;
  opacity: 0.5;
}

#nonTPBlock1 {
  position: absolute;
  z-index: 1;
  left: 20em;
  top: 15em;
  width: 30.5em;
  height: 5em;
  /*background-color: #40FF00;*/
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nonTPBlock1 h1 {
  color: #000000;
  font-size: 3em;
  display: flex;
  justify-content: center; //centered horizontally
  margin: 0;
}

#nonTPBlock2 {
  position: absolute;
  z-index: 1;
  left: 29em;
  top: 20.5em;
  width: 12.5em;
  height: 2.0em;
  background-color: #000000;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nonTPBlock2 p {
  color: #FFFFFF;
  font-size: 1em;
  display: flex;
  justify-content: center; //centered horizontally
  margin: 0;
}
