@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
:root {
    --main-bg-color: #545151;
    --main-text-color: #d3d3d3;
    --hover-color: #f9f9f9;
}
* {
    outline: 1px solid red;
}
body {
    margin: 0;
    min-width: 1425px;
    font-family: 'Raleway', sans-serif;
}
header {
    padding: 20px 0 35px;
    font-size: 0;
    background-color: var(--main-bg-color);
}
.header_container {
    margin: 0 auto;
    width: 1100px;
    text-align: justify;
}
nav::after {
    display: inline-block;
    content: "";
    width: 100%;
}
h1 {
    display: inline-block;
    margin: 0;
    font-size: 24px;
    vertical-align: middle;
}
.logo a {
    text-decoration: none;
    color: var(--main-text-color);
}
a span {
    letter-spacing: 8px;
    text-transform: uppercase;
}
ul {
    display: inline-block;
    padding: 0;
    width: 650px;
    vertical-align: middle;
}
nav ul::after {
    content: "";
    display: inline-block;
    width: 100%;
}
li {
    display: inline-block;
}
li a {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--main-text-color);
}
.active {
    color: var(--hover-color);
}
li a:hover {
    color: var(--hover-color);
}
button {
    padding: 0;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}
button img {
    height: 45px;
    vertical-align: bottom;
}
.banner {
    position: relative;
    height: 600px;
    background-image: url("./img/cover.jpg");
    background-size: cover;
    background-position: center;
}
.banner_content {
    position: absolute;
    padding: 25px 50px;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(255,255,255,0.4);
}
.banner_content h2 {
    margin: 0 0 15px;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.banner_content a {
    display: inline-block;
    padding: 10px 60px;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #303132;
    color: var(--hover-color);
}
.banner_content a:hover, .media_link a:hover {
    color: var(--main-text-color);
}
.section_footer {
    padding: 20px;
    text-align: center;
    background-color: rgba(211,211,211,0.6);
}
.section_footer span {
    text-transform: uppercase;
    letter-spacing: 5px;
}
section:nth-child(2) {
    padding: 60px 0 70px;
    text-align: center;
}
section:nth-child(2) h3 {
    margin: 0 0 30px;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 15px;
}
hr {
    margin: 0 auto 30px;
    width: 3%;
}
section:nth-child(2) p {
    margin: 0 0 60px;
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: #303132;
}
.commodity {
    margin: 0 auto;
    width: 1100px;
    font-size: 0;
    overflow: auto;
}
.commodity a {
    width: 360px;
    height: 500px;
    float: left;
}
.commodity a + a {
    margin-left: 10px;
}
.commodity img {
    width: 100%;
    height: 100%;
}
footer {
    padding: 40px 0 65px;
    background-color: var(--main-bg-color);
}
.footer_container {
    width: fit-content;
    margin: 0 auto;
    font-size: 0;
}
.footer_connection {
    margin-bottom: 50px;
}
.media {
    display: inline-block;
    vertical-align: top;
}
.media p {
    margin: 0 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--main-text-color);
}
.media_link a {
    display: inline-block;
    text-decoration: none;
    color: var(--hover-color);
}
.media_link a + a {
    margin-left: 25px;
}
.media_link a i {
    padding: 5px;
    font-size: 24px;
}
.user_connection {
    display: inline-block;
    margin: 0 135px;
    width: 360px;
}
.user_connection p {
    margin: 0 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--main-text-color);
}
form {
    display: flow-root;
}
form input[type=email] {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    width: 360px;
    height: 40px;
    border: 1px solid var(--hover-color);
    box-sizing: border-box;
    font-size: 18px;
    background: none;
}
form input::placeholder {
    font-family: 'Raleway', sans-serif;
    color: var(--hover-color);
}
form input[type=submit] {
    padding: 10px;
    border: none;  
    float: right;  
    font-size: 18px;
    text-transform: capitalize;
    background-color: var(--main-text-color);
    color: #696a6b;
    cursor: pointer;
}
form input[type=submit]:hover {
    color: #484848;
}
.contact_information {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
    color: var(--main-text-color);
}
.contact_information p:first-child {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.contact_information p:not(:first-child) {
    color: var(--hover-color);
}
.contact_information p:not(:last-child) {
    margin: 0 0 15px;
}
.contact_information p:last-child {
    margin: 0;
}
.copyright {
    text-align: center;
    color: var(--main-text-color);
}
.copyright p {
    margin: 0;
    font-size: 18px;
}
.copyright_link {
    color: var(--main-text-color);
    text-decoration-color: rgb(56,57,58);
}
.copyright_link:hover {
    color: var(--hover-color);
}