@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Hind:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Hind:wght@300&family=Montserrat:wght@200;300;400&display=swap');

* {
    outline: 0.5px solid red ;
}

body {
    min-width: 1520px;
}

a {
    text-decoration: none;
}


.header {
    margin: 0;
    padding: 0 200px;
    color:#535151;
    background::#535151 ;
}

.header__container {
    margin: 0 auto;
    width: 1100px;
}

.header__navbar {
    text-align-last:justify;
}


.header__navbar a {
    display: block;
    width: 100%;
}

.header__navbar ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align-last:justify;
}

.header__logo {
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    color:#D2D2D2;
}

.header__navbar li {
    display: inline-block;
}

.header__navbar li a {
    color: #D2D2D2;
}

.visual__container {
    
}

.visual__buttonblock {
    width: 660px;
    height: 204px;
    padding:32px 0;
    background-color: #E6E1D9;
    opacity: 70%;
}

.visual__buttonblock-text {
    font-family:'DM Serif Display', serif;
    font-size: 20px;
}


/* .visual__buttonblock-button {
    margin-top: 10px;
    padding:10px;
    background-color:#303132 ;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 240px;
    height: 45px;
} */

.visual__buttonblock-buttton {
    display: block;
    margin-top: 10px;
    padding:10px;
    background-color:#303132 ;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 240px;
    height: 45px;
}

.shipping__text {
    background-color: #E3E3E3;
    color:#303132;
    margin:0;
    text-align: center;
    width:100%;
    height: 55px;
    font-family:'Montserrat', sans-serif;
}

.products__container {
    padding:80px 0;
    margin:auto;
}

.products__slogan {
    margin:0 auto;
    width: 430px;
}

.products__slogan p {
    width: 100%;
    text-align: center;
}

.products__slogan:nth-child(1) {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
}

.products__slogan:nth-child(1) {
    font-size: 20px;
}

.products__slogan:nth-child(3) {
    font-size: 15px;
}

.products__images {
    margin-top: 66px;
    margin:0 auto;
    width: 1114px;
    text-align-last: justify;
}

.products__images img {
    width: 354px;
    height: auto;
}

footer {
    background-color:  #535151 ;
}

.footer__container {
    padding: 78px;
    margin:auto;
    text-align-last:justify;
}

.footer__container p {
    font-family:'Montserrat', sans-serif ;
}

.footer__snslinks {
    width:78px;
    display: inline-block;
}

.footer__snslinks p {
    text-align: center;
    font-size: 10px;
}

.footer__snslinks li {
    font-size: ;
}

.footer__subscription {
    display: inline-block;
    width: 370px;
}


.footer__subscription p {
    text-align: left;
    font-size:10px;
}



.footer__subscription input[type=text]{
    color: #E3E3E3;
}


.footer__subscription input[type=submit]{
    text-align: right;
    cursor:pointer;
    background:#ccc; 
    width: 103px;
    padding:5px;
}


.footer__contact {
    display: inline-block;
    width: 185px;
    text-align: center;
    color:#FFFFFF;
}

.footer__contact p {
    color:#FFFFFF;
    text-align: center;
}

.footer__copyright {
    padding:20px 0;
    width: 1022px;
    color:#FFFFFF;
    text-align-last:auto;
}

.footer__copyright p {
    text-align: center;
}









