body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
}

* {
  outline: 1px solid red;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 1831px;
  margin: 0 auto;

}

/* header */
header {

  background-color: #535151;
}


.header_wrapper {
  padding: 0 175px;
  box-sizing: border-box;
  font-size: 0;
}

.logo {
  display: inline-block;
  font-family: 'Geologica', sans-serif;
  vertical-align: baseline;
  font-size: 20px;
  letter-spacing: 13px;
  margin: 0 35px;

}

nav {
  display: inline-block;
}

.nav_list {
  display: inline-block;
}

.nav_item {
  display: inline-block;
  padding: 65px;
  font-size: 20px;
  cursor: pointer;
}

.nav_item:hover a {
  color: palevioletred;
}

.shopping_cart_link {
  float: right;  
  padding: 51px;
  width: 39px;
  height: 52px;
}

.shopping_cart {
  width: 100%;
}

/* section seasonal_sale */
.seasonal_sale {
  background-image: url(./img/cover.jpg);
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 670px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  padding: 370px 330px 254px;
  box-sizing: border-box;
  font-size: 0;
}

.seasonal_sale_text {
  width: 790px;
  height: 250px;
  text-align: center;
  margin: 0 auto;
  padding: 52px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
}

strong {
  font-family: 'Noto Serif Armenian', serif;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 10px;
}

.seasonal_sale_button {
  display: block;
  background-color: #303132;
  margin: 26px auto 0;
  font-size: 26px;
  line-height: 2em;
  width: 305px;
  height: 57px;
  box-sizing: border-box;
  padding: 0 auto;
}

/* section year_round_sale */
.banner {
  background-color: #E3E3E3;
  text-align: center;


}

.banner p {
  font-size: 20px;
  padding: 1em 0;
  letter-spacing: 9px;
  margin: 0;
}

.year_round_sale_text {
  text-align: center;
  margin: 71px 0;
}

.year_round_sale_text h3 {
  font-size: 39px;
  font-family: 'Noto Serif Armenian', serif;
  letter-spacing: 26px;
  margin-bottom: 56px;
}

.year_round_sale_text p {
  font-size: 26px;
  letter-spacing: 12px;
  margin-top: 56px;
}


hr {
  background-color: black;
  width: 44px;
  height: 1px;
  border: none;
}

.hot_topics_for_sale {
  margin: 0 auto 117px;
  font-size: 0;
  width: 1326px;
  text-align-last: justify;
}

.hot_topic {
  display: inline-block;
  width: 429px;
  height: 590px;
}

.hot_topic img {
  width: 100%;
  height: 100%;
}

/* footer */
footer {
  background-color: #535151;
  color: white;
}

.footer_blocks {
  width: 1333px;
  margin: 0 auto;
  padding: 90px 65px 65px;
  box-sizing: border-box;
  text-align-last: justify;
}

.footer_block {
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
  letter-spacing: 3px;
}

.footer_block_title {
  display: inline-block;
  font-size: 20px;
  margin: 0.5em 0;
}


input {
  display: block;
  width: 430px;
  height: 39px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

button {
  background-color: #D3D3D3;
  color: black;
  display: block;
  font-size: 20px;
  margin: 0.5em 0;
  padding: 0.5em;
  letter-spacing: 3px;
  border: 1px solid black;
  float: right;
}


.phone,
.mail {
  margin: 0;
  text-align-last: center;
}

.phone {
  font-family: 'Raleway', sans-serif;
}

.fa-brands {
  font-size: 26px;
}

.social_media_links {
  padding: 0 13px;
}

::placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.copyright {
  text-align-last: center;
  padding-bottom: 82px;
  letter-spacing: 3px;
}


.copyright a {
  text-decoration: underline;
  text-decoration-color: black;
}