
footer{
	background: url(#{$img-path}/footer.png);
	margin-top: 50px;
	height: auto;

	p{
		letter-spacing: 1px;
	}
}


.foo-icon{
	background: url(#{$img-path}/icons.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	display:inline-block;
}


.foo-font{
	font-size: 14px;
	color: $font-color;
	font-weight: bold;
}


#footer-icon1 {
	@extend .foo-icon;
	background-position: 0px 0px;
}

#footer-icon2 {
	@extend .foo-icon;
	background-position: -45px 0px;
}

#footer-icon3 {
	@extend .foo-icon;
	background-position: -90px 0px;
}

#footer-icon4 {
	@extend .foo-icon;
	background-position: -135px 0px;
}


/*--- footer > middle > email button  ---*/
#bt-email{
	float:right;
	margin-top: 5px;
}

/*--- footer > copyright  ---*/
#copyright{
	margin-top: 50px;
	height: 50px;
}