#header{
	height: $header-height;
	background: url(#{$img-path}/bg.png);
}

#logo{
	margin-top: 25px;
	margin-left : 100px;

	a{
		width: 200px;
		height: 50px;
		background: url(#{$img-path}/logo.png);
		background-repeat: no-repeat;
		display: block;
	}
}

#nav {
	margin-top: $header-height/2-15px;

	a {
		font-size: 18px;
		padding: 0px 10px;
		text-decoration: none;
		color: $font-color;
	}
}

#calicon{
	height : 40px;
	width : 40px;
	margin-top: 20px;
	background: url(#{$img-path}/cal-icon.png);
	background-repeat: no-repeat;
}