@import compass/reset

@mixin size($point) 
	@if $point==pad
		@media screen and (min-width: 768px) and (max-width: 1024px)
			@content
	@else if $point==mobile
		@media screen and (min-width: 300px) and (max-width: 750px)
			@content
.clear
	clear: both
#top
	background-color: #525050
	ul
		width: 90%
		margin: 0 auto
		+size(mobile)
			width: 100%
		+size(pad)
			width: 100%
			text-align: center
	li
		display: inline-block
		color: #d7d7d7
		vertical-align: middle
		font-size: 17px
		padding-left: 80px
		line-height: 120px
		+size(mobile)
			display: flex
			justify-content: center
			align-content: center
			padding-left: 0px
			font-size: 20px
			line-height: 80px
			// outline: solid
			padding-bottom: 10px
		+size(pad)
			// text-align: center
			padding-left: 20px
			line-height: 100px	
			// outline: solid
	img
		width: 70%
		vertical-align: middle
		+size(mobile)
			width: 15%
	span
		font-size: 20px
		font-weight: bold
		letter-spacing: 9px
		padding-left: 30px
		+size(mobile)
			font-size: 30px
		+size(pad)
			padding-left: 5px
#midFirst
	background-image: url("../image/cover.jpg")
	background-size: 100% 100%
	background-position: center
	width: 100%
	height: 100%
	// outline: solid
	#midBox1
		width: 40%
		height: 300px
		// outline: solid
		margin: 0 auto
		+size(mobile)
			height: 50px
		+size(pad)
			height: 200px
	#midBox2
		background-color: rgba(255,255,255,0.4)
		width: 40%
		height: 100%
		margin: 0 auto
		text-align: center
		letter-spacing: 5px
		font-family: serif
		padding-top: 40px
		// outline: solid
		+size(mobile)
			width: 70%
			padding-left: 30px
			padding-right: 30px

		p
			font-size: 55px
			line-height: 50px
			// outline: solid
			font-weight: bold
		#shopnow
			background-color: #2c2d2e
			font-family: monospace
			font-size: 20px
			color: #fefefe
			border: 0px
			padding-top: 10px
			padding-bottom: 10px
			padding-left: 50px
			padding-right: 50px
			margin-top: 30px
			margin-bottom: 30px
	#midBox3
		width: 40%
		height: 180px
		// outline: solid
		margin: 0 auto
		+size(mobile)
			height: 50px
#midSecond
	width: 100%
	height: 100%
	background-color: #e4e4e4
	text-align: center
	line-height: 50px
	font-size: 15px
	letter-spacing: 5px
#midThird
	width: 100%
	height: 100%
	text-align: center
	+size(mobile)
		width: 90%
		margin: 0 auto
	h1
		font-size: 40px
		letter-spacing: 10px
		font-family: serif
		padding-top: 80px
	h2
		border-bottom: solid
		width: 3%
		padding-top: 30px
		margin: 0 auto
	p
		font-size: 20px
		color: #1c1c1c
		padding-bottom: 75px
		padding-top: 30px
		letter-spacing: 5px
#midFourth
	width: 100%
	height: 100%
	// outline: solid
	padding-bottom: 80px
	ul
		// outline: solid
		width: 75%
		margin: 0 auto
		+size(mobile)
			width: 100%
		+size(pad)
			width: 60%
	li
		float: left
		padding-left: 20px
		// outline: solid
		+size(mobile)
			float: none
			padding-left: 0px
			padding-bottom: 20px
			text-align: center
		+size(pad)
			float: none
			padding-left: 0px
			padding-bottom: 20px
			text-align: center
#bottom
	color: #cacaca
	background-color: #525050
	width: 100%
	height: 100%
	ul
		margin: 0 auto
		padding-top: 80px
		// outline: solid black
		width: 80%
		+size(pad)
			width: 90%
	li
		float: left
		width: 30%
		padding-left: 30px
		// outline: solid black
		+size(mobile)
			float: none	
			width: 90%
			padding-left: 0px
			margin: 0 auto
			padding-top: 40px
		+size(pad)
			// outline: solid
			width: 28%
	#bottomA
		text-align: center
		+size(mobile)
			text-align: left
	#inaddbu
		width: 100%
		// outline: solid
	#email
		width: 100%
		background-color: #525050
		margin-top: 5px	
	#email::placeholder
		color: #cacaca
		font-size: 15px
		// outline: solid
	#email:placeholder-shown
		padding-top: 7px
		padding-bottom: 7px
		padding-left: 5px

	h2
		text-align: center
		line-height: 25px
		+size(mobile)
			text-align: left
	#button
		width: 100%
		text-align: right
		padding-top: 5px
		margin-left: 10px
		// outline: solid
		button
			background-color: white
			font-size: 17px
			padding-top: 5px
			padding-bottom: 5px
			padding-left: 10px
			padding-left: 10px

	#bottomD
		text-align: center
		padding-top: 80px
		padding-bottom: 90px
		+size(mobile)
			width: 90%
			margin: 0 auto
			line-height: 30px