body,h1,h2,p{
  margin: 0;
}
.footer{
  background-color: black;
  color: white;
  height: 250px;
}
.A1-1,.A1-2,.A1-3 {
  display: inline-block;
}
.A1-1{
  margin-left: 300px;
}
.A1-2{
  margin: 5px 120px;
  text-align: center;
}
.A1-3{
  margin-right: 300px;
}
.A2{
  text-align: center;
  padding: 50px
}
