body,h1,h2,p{
  margin: 0;
}
div.white>hr {
  width: 50px
}
.white {
  height: 100px;
  width: 200px;
 border: 30px solid #8AC007;
  margin: 140px auto;
}
div.white p{
  text-align: center;
}
.list{
  height: 500px;
  margin:  100px auto;
  text-align: center;
}
