
/* set menu */
@mixin setMenu($i:1){
	background: url(#{$img-path}/menu#{$i}.png);
	background-repeat: no-repeat;
	height: 400px;
}


/* set background transparent */
@mixin better_transparentize($color, $alpha){
 $c: rgba($color, $alpha);
 $ie_c: ie_hex_str($c);
 background: rgba($color, 1);
 background: $c;
 background: transparent\9;
 zoom: 1;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie_c}, endColorstr=#{$ie_c});
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie_c}, endColorstr=#{$ie_c})";
}



/* banner > middle enter button */
.hover{
  color: #ffffff; 
  background-color: #535151; 
  border-color: #535151; 
}

.btn-secondary { 
  color: #ffffff; 
  background-color: #303132; 
  border-color: #555;

  &:hover, &:focus, &:active {
    @extend .hover;
  }
}