@import "compass/css3";
@import "global";
@import "extend";
@import "common/footer";
@import "common/header";
@import "common/banner";

#wrap{
	width : $wrap-width;
	height: auto;
}

#news{
	padding-top: 40px;
	line-height: 40px;
	letter-spacing: 5px;

	h1{
		font-family: $font-style-h1;
		font-weight: bold;
		height: 40px;
	}
}

.row{
	padding-top: 80px;
	width: 85%;
}

/*--- make menu ---*/
@for $i from 1 through 3{
	#menu-#{$i} {
		@include setMenu('#{$i}');
	}
}