.last {
  background-color: rgb(50,49,50);
}

.leftfooter {
  display: inline-block;
  color: white;
  line-height: 30px;
  margin: 20px;
  vertical-align: top;
}

.leftfooter li {
  display: inline-block;
}

.fb {
  width: 10px;
  height: 10px;
}

.middlefooter {
  display: inline-block;
  color: white;
  line-height: 30px;
  margin: 20px;
  margin-left: 300px;
  vertical-align: top;
}

.rightfooter {
  display: inline-block;
  color: white;
  line-height: 30px;
  margin: 20px;
  margin-left: 300px;
  vertical-align: top;
}

.end p {
  font-size: 15px;
  color:white;
  text-align: center;
  line-height: 30px;
}
