/* header */

header {
  background-color: #535151;
}

nav {
  width: 1025px;
  margin: 0 auto;
  padding: 30px 0px;
  text-align-last: justify;
}

nav h1 {
  display: inline-block;
  color: #d6d6d6;
  font-family: 'Lexend', sans-serif;
  font-size: 22px;
  vertical-align: text-top; /* 使元素和父元素字體的頂部對齊 */
  letter-spacing: 5px;
}

nav h1:hover{
    color: #f6f6f6;
}

.menu {
  display: inline-block;
  font-size: 0; /* 將inline-box間的空隙消掉 */
}

.menu a{
    display: inline-block;
}

.menu ul {
  display: inline-block;
  font-size: 0; /* 把ul的空隙消掉 */
  vertical-align: middle;
}

.menu li {
  display: inline-block;
  color: #c7c7c7;
  font-size: 18px;
  margin-right: 65px;
  padding: 10px;
}

.menu li:hover {
  color: #f6f6f6;
}

.shopping_cart {
  display: inline-block;
  width: 40px;
  vertical-align: middle;
}

.shopping_cart a {
  margin-left: 25px;
}

.shopping_cart img {
  display: block; /* 消除空隙 */
  width: 100%;
}
