/* main */

/* section */

.banner_wrapper {
    height: 680px;
    background-image: url(/img/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .banner_area {
    width: 620px;
    height: 200px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 0 auto;
    padding: 40px;
    position: relative;
    top: 40%;
    text-align: center;
  }
  
  .ShopNow_button {
    display: inline-block;
    text-decoration: none;
    background-color: #303132;
    color: #ffffff;
    transition: background-color 0.4s ease-out;
    margin-top: 30px;
    padding: 10px 80px;
    font-size: 20px;
  }
  
  .ShopNow_button:hover {
    background-color: #e3e3e3;
    color: #303132;
  }
  
  .banner_area h2 {
    font-family: "DM Serif Display", cursive;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 60px;
  }
  
  .banner_footer {
    background-color: #e3e3e3;
    padding: 15px;
    text-align: center;
  }
  
  .banner_footer span {
    color: #5c5d5e;
    letter-spacing: 3px;
  }

  /* article */

.product_title {
    margin: 85px auto 75px;
    text-align: center;
  }
  
  .product_title h3 {
    font-family: "DM Serif Display", cursive;
    color: #303132;
    font-size: 45px;
    letter-spacing: 15px;
  }
  
  .product_title hr {
    width: 35px;
    color: #6b6b6c;
    margin: 35px auto 35px;
  }
  
  .product_title span {
    display: block;
    color: #242527;
    font-size: 23px;
    letter-spacing: 5px;
  }
  
  /* product_card */
  
  .product_card_container {
    width: 1056px;
    margin: 0 auto 85px;
    column-count: 3;
  }
  
  .product_card img {
    display: block;
    width: 100%;
  }
  