/* --------------------- debug --------------------- */
/* body::before {
  content: url(../Template_2.png);
  text-align: center;
  position: absolute;
  left: -10px;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .3;
  opacity: 0;
  z-index: -1;
} */
/* --------------------- reset --------------------- */
body {
  min-width: 1200px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, p, figure {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* --------------------- header --------------------- */
header {
  background-color: #535151;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header .container {
  width: 1020px;
  margin: 0 auto;
  padding: 28px 0;
  box-sizing: border-box;
  font-size: 0;
}
header nav {
  width: 92%;
  display: inline-block;
  vertical-align: middle;
}
header h1 {
  display: inline-block;
  font-size: 22px;
  letter-spacing: 6px;
}
header a {
  color: #d4d4d4;
}
header a:hover {
  color: #fff;
}
header ul {
  display: inline-block;
  margin-left: 42px;
  list-style-type: none;
}
header ul li {
  display: inline-block;
}
header ul li + li {
  margin-left: 14px;
}
header ul li a {
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
}
header .cart {
  width: 8%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
header .cart-btn {
  width: 40px;
  height: 40px;
  border: none;
  background: url(../img/bag.png) no-repeat center;
  cursor: pointer;
}

/* --------------------- main --------------------- */
main {
  padding-top: 100px;
}
.banner-wrap {
  background: url(../img/cover.jpg) no-repeat center/cover;
}
.banner-body {
  height: 666px;
  padding-top: 290px;
  box-sizing: border-box;
}
.banner {
  width: 610px;
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .5);
  margin: auto;
  text-align: center;
}
.banner h2 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.banner a {
  display: inline-block;
  padding: 10px 70px;
  background-color: #303132;
  color: #fff;
  font-size: 20px;
}
.banner-wrap .notification {
  background-color: #e3e3e3;
  padding: 16px 0;
  text-align: center;
  letter-spacing: 3px;
}

.product-wrap {
  padding: 76px 0;
}
.product-wrap h2,
.product-wrap p {
  text-align: center;
}
.product-header h2 {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 12px;
  position: relative;
}
.product-header hr {
  width: 36px;
  margin: 32px auto;
  border: none;
  border-top: 1px solid #6b6b6c;
}
.product-header > p {
  font-size: 24px;
  letter-spacing: 5px;
  margin-bottom: 74px;
}
.product-list {
  width: 1020px;
  margin: 0 auto;
  font-size: 0;
}
.product-item {
  width: 32%;
  max-height: 447px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
}
.product-item img {
  width: 100%;
  height: auto;
  max-height: 100%;
  vertical-align: bottom;
}
.product-item + .product-item {
  margin-left: 2%;
}
.product-list figcaption {
  background-color: #303132;
  font-size: 16px;
  text-align: center;
}
.product-list figcaption a {
  width: 100%;
  display: inline-block;
  padding: 18px 0;
  color: #fff;
}
.product-item--sale {
  position: relative;
}
.product-item--sale span {
  position: absolute;
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 16px;
}
.product-item--sale a {
  color: #303132;
  padding: 16px;
  /* 清除最後字元的 letter-spacing */
  margin-right: -16px;
}
.product-item--sale a:hover {
  color: #777;
}

/* --------------------- footer --------------------- */
footer {
  background-color: #535151;
}
footer .container {
  width: 1020px;
  margin: 0 auto;
  padding: 80px 0;
  font-size: 0;
}
footer .section-wrap {
  margin-bottom: 80px;
}
footer .section {
  display: inline-block;
  vertical-align: top;
  color: #fff;
}
footer .section > p {
  margin-bottom: 6px;
  font-size: 16px;
  letter-spacing: 1px;
}
footer .section > p:first-of-type {
  color: #d3d3d3;
}
footer .social {
  width: 24%;
  text-align: center;
}
footer .social a {
  width: 30px;
  height: 30px;
  padding: 4px;
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
}
footer .social a + a {
  margin-left: 10px;
}
footer .social i {
  font-size: 22px;
}
footer .subscribe {
  width: 32%;
  margin: 0 10%;
}
footer .subscribe form {
  text-align: right;
}
footer .subscribe input[type=text] {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 16px;
}
footer .subscribe input::placeholder {
  color: #fff;
}
footer .subscribe input[type=submit] {
  border: none;
  padding: 6px 10px;
  background-color: #d3d3d3;
  color: #303132;
  font-size: 16px;
  cursor: pointer;
}
footer .contact {
  width: 24%;
  text-align: center;
}
footer .copyright {
  text-align: center;
  font-size: 16px;
  color: #d3d3d3;
}
footer .copyright a {
  color: #d3d3d3;
}