#content {
    width: 100%;
    height: 1000px;
}

#blank {
    width: 100%;
    height: 75px;
}

#content_top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/cover.jpg");
    background-size: 150% 600px;
    background-position: center;
    width: 100%;
    height: 600px;
}

#top_box {
    background-color: white;
    background: rgba(100%, 100%, 100%, 0.5);
    width: 500px;
    height: 145px;
    text-align: center;
}

.tpo_text {
    margin: 20px 0 0;
    font-size: 50px;
    font-weight: 900;
}

.ShopNow_button {
    width: 200px;
    height: 40px;
    background-color: #303132;
    border: none;
    color: white;
}

.ShopNow_button:hover {
    color: black;
    background-color: white;
}

P {
    margin: 0;
}

#top_footer {
    margin: 0;
    background-color: #E4E4E4;
    width: 100%;
    height: 30px;
    padding-top: 15px;
}

.top_footer_text {
    font-size: 10px;
    text-align: center;
    letter-spacing: 5px;
}

#content_bottom {
    width: 100%;
    height: 600px;
}

#title_box {
    margin-top: 70px;
    text-align: center;
}

.textstyle {
    letter-spacing: 8px;
}

.commodity {
    width: 296px;
    height: 411px;
    margin: 0 6px;
}

#commoditybox {
    display: flex;
    justify-content: center;
}

#c_box1 {
    display: flex;
    align-items: flex-end;
    background-image: url("../img/menu1.png");
}

#c_box2 {
    text-align: center;
    background-image: url("../img/menu2.png");
}

#c_box3 {
    display: flex;
    align-items: flex-end;
    background-image: url("../img/menu3.png");
}

.a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 296px;
    height: 137px;
}

.C_button {
    width: 296px;
    height: 52px;
    background-color: #303132;
    border: none;
    color: white;
    font-size: 15px;
}

.S_button {
    color: black;
    font-size: 55px;
    letter-spacing: 12px;
    text-decoration: none;
}

.S_button:hover {
    color: #696969;
}

.C_button:hover {
    background-color: #696969;
}
