
body{
	margin: 8px 0px;
}


/*header*/
.header{
	background-color: #535151;
	height: 120px;
}

.container{
	width: 80%;
	margin: auto;

	text-align: center;
}

/*#n_1, #n_2, #n_3, #n_4, #n_5{
	padding-left: 10%;
	padding-right: 10%;
}*/

.comp-name, .menu, .shop-car{
	display: inline-block;
	padding-top: 40px;
}
.comp-name{
	width: 20%;

	color: #D7D7D7;
	font-size: 22px;
	font-weight: bold;
}
.menu{
	width: 70%;
}
.menu a{
	padding-right: 10%;
	color: #A9A9A9;
	text-decoration: none;
	font-weight: bold;
}
.shop-car{
	/*width: 5%;*/
}
#car{
	width:40px;
	margin-bottom: -15px;
}


/*sections*/
.banner{
	background: url(./banner.png) no-repeat;
	background-size: cover;
	background-position: center center;
	height: 500px;
	position: relative;
	padding-top: 30%;
}
.fall{
	width: 60%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(100%, 100%, 100%, 0.4);
	/*text-align: center;*/
}
.fall h1{
	margin-bottom: 2%;
	font-size: 38pt;
	font-weight: bold;	
}
.shop-now{
	width: 40%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
	color: #FFFFFF;
}

.free-shipping{
	background-color: #B8AB9A;
	padding-top: 1%;
	padding-bottom: 1%;
	/*text-align: center;*/
	letter-spacing: 3px;
}

.promotion{
	/*line-height: 4em;*/
	margin-top: 3%;
	margin-bottom: 3%;
	/*text-align: center;*/
}
.promotion h1{
	font-size: 30pt;
	font-weight: bold;
	letter-spacing: 5px;
}
.promotion h2{
	font-size: 24pt;
}
.promotion h3{
	letter-spacing: 5px;
}


/*footer*/
.footer{
	background-color: #535151;
	margin-top: 6%;

	padding-top: 5%;
	padding-bottom: 5%;
	color: #AFAEAE;
}
.footer .info{
	width: 90%;
	margin: auto;
}
.footer .info  .info-item{
	width: 33%;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

.sprite a{
	margin: 0.5em 0;
	background: url(icons.png) no-repeat 0 0;
	width: 30px;
	height: 30px;
	display: inline-block;
}
.sprite .fb{
	background-position: 2px 0px;
}
.sprite .twitter{
	background-position: -42px 0px;
}
.sprite .pin{
	background-position: -88px 0px;
}
.sprite .google{
	background-position: -134px 0px;
}
.footer .copyright{
	width: 90%;
	/*height: 20%;*/
	margin: auto;
	/*text-align: center;*/
}

.contact{
	/*text-align: center;*/
}
.mailus{
	text-align: left;
}
.mailus input{
	width: 95%;
}
#email{
	border: solid 2px #AFAEAE;
	background-color: #535151;
	padding: 0.5em;
	margin: 0.5em 0;
	color: #DADADA;
}
.update-me{
	margin: 0;
	text-align: right;
}
.update-me button{
	background-color: #e7e3e0;
	color: #000000;
	border: 0;
	padding: 8px 17px;
	margin-bottom: 10%;
}
.contact-info{
	color: #DADADA;
}

.footer a{
	color: #AFAEAE;
}

