
body{
	margin: 8px 0px;
}


/*header*/
.header{
	background-color: #535151;
	height: 120px;
}
#n_1, #n_2, #n_3, #n_4, #n_5{
	padding-left: 10%;
	padding-right: 10%;
}
.comp-name, .menu, .shop-car{
	display: inline-block;
	padding-top: 40px;
}
.comp-name{
	width: 20%;

	color: #D7D7D7;
	font-size: 22px;
	font-weight: bold;
}
.menu{
	width: 70%;
}
.menu a{
	padding-right: 10%;
	color: #A9A9A9;
	text-decoration: none;
	font-weight: bold;
}
.shop-car{
	/*width: 5%;*/
}
#car{
	width:40px;
	margin-bottom: -15px;
}


/*sections*/
.banner{
	background: url(./banner.png) no-repeat;
	background-size: cover;
	background-position: center center;
	height: 500px;
	position: relative;
	padding-top: 30%;
}
.fall{
	height: 27%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(100%, 100%, 100%, 0.4);
	padding-top: 3%;
}
.fall h1{
	text-align: center;
	margin-top: 0;
	margin-bottom: 2%;
	font-size: 38pt;
	font-weight: bold;	
}
.shop-now{
	background-color: #000000;
	color: #FFFFFF;
	height: 22%;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
	text-align: center;
}
#n_3{
	background-color: #B8AB9A;
	/*height: 50px;*/
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	letter-spacing: 3px;
}
#n_4_1{
	width: 60%;
	margin: auto;
	text-align: center;
}
#n_4_1 h1{
	font-size: 30pt;
	font-weight: bold;
	letter-spacing: 5px;
}
#n_4_1 h2{
	font-size: 24pt;
}
#n_4_1 h3{
	letter-spacing: 5px;
}
.demo{
	width: 90%;
	margin: auto;
}
.demo div{
	display: inline-block;
	height: 100%;
}


/*footer*/
.footer{
	margin-top: 8%;
	background-color: #535151;
	height: 320px;
	color: #AFAEAE;
}
.footer .info{
	width: 90%;
	height: 70%;
	margin: auto;
}
.footer .info  .info-item{
	width: 33%;
	/*height: 30%;*/
	padding: 0;
	padding-top: 9%;
	display: inline-block;
	vertical-align: top;
}
.contact{
	text-align: center;
}
.mailus{
	text-align: left;
}
.mailus input{
	width: 95%;
}
#email{
	border: solid 2px #AFAEAE;
	background-color: #535151;
	padding: 0.5em;
	margin: 0.5em 0;
	color: #DADADA;
}
.update-me{
	margin: 0;
	text-align: right;
}
.update-me button{
	background-color: #e7e3e0;
	color: #000000;
	border: 0;
	padding: 8px 17px;
}
.contact-info{
	color: #DADADA;
}
.sprite a{
	margin: 0.5em 0;
	background: url(icons.png) no-repeat 0 0;
	width: 30px;
	height: 30px;
	display: inline-block;
}
.sprite .fb{
	background-position: 0px 0px;
}
.sprite .twitter{
	background-position: -43px 0px;
}
.sprite .pin{
	background-position: -86px 0px;
}
.sprite .google{
	background-position: -129px 0px;
}
.footer .copyright{
	width: 90%;
	height: 20%;
	margin: auto;
	text-align: center;
}
.footer a{
	color: #AFAEAE;
}

