* {
  /* outline: 1px solid red; */
  font-family: 'Kanit', sans-serif;
}

.design-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 2;
}


body {
  min-width: 1350px;
  margin: 0;
  /* position: relative; */
}

header {  
  padding: 24px 0;

  background-color: #606060;

  font-size: 0;
  text-align: center;
}

h1 {
  display: inline-block;

  margin: 0 80px 0 0;
  
  color: #e0e0e0;
  font-size: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  
  vertical-align: middle;
}

h1:hover {
  cursor: pointer;
  text-shadow: #333 5px 5px;
}

nav {
  display: inline-block;

  vertical-align: middle;
}

nav a {
  display: inline-block;
  
  padding: 6px;

  color: #e0e0e0;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;

  vertical-align: middle;
}

nav a:hover {
  color: #fff;
}

nav a + a {
  margin-left: 80px;
}

nav img {
  vertical-align: bottom;
}

/* Main */
.banner-img {
  position: relative;

  height: 640px;

  background-image: url(./img/cover.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 24px 48px;

  background-color: rgba(255,255,255,0.5);

  text-align: center;
}

.banner-text:hover {
  /* box-shadow: 0px 7px 10px 2px rgb(100, 100, 100, 0.9); */
  box-shadow: 0px 7px 7px -2px rgb(30, 30, 30, 0.9), 0px 13px 9px 1px rgb(50,50,50,0.5);
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  
  color: #333;
  font-size: 64px;
  font-family: 'Unna', serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.banner-text a {
  display: inline-block;

  padding: 5px 70px;

  background-color: #333;
  color: #fff;
  font-size: 20px;
}

.banner-text a:hover {
  cursor: pointer;
}

.banner > p {
  padding: 12px 0;
  margin: 0;

  background-color: #e0e0e0;
  color: #666;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  
  text-align: center;
}

.display {
  padding: 64px 160px;
}

h3 {
  margin: 0;

  color: #333;
  font-size: 40px;
  font-family: 'Unna', serif;
  text-transform: uppercase;
  letter-spacing: 10px;

  text-align: center;
}

h3::after {
  content: "";
  display: block;

  width: 30px;
  height: 1px;
  margin: 20px auto;
  
  background-color: #333;
}

.display h4 {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 300;
  letter-spacing: 5px;

  text-align: center;
}

.img-group {
  width: fit-content;
  margin: 0 auto;

  font-size: 0;
} 

.img-group img {
  width: 325px;
  height: 453px;
  object-fit: cover;
  
  vertical-align: bottom;
}

.img-group img + img {
  margin-left: 10px;
}

/* Footer */

footer {
  padding: 48px 160px;

  background-color: #606060;
  
  text-align: center;
  font-size: 0;
}

footer div + div {
  margin-left: 144px;
}

footer p {
  font-weight: 300;
}

.social-media {
  display: inline-block;
  vertical-align: top;
}

.social-media p {
  margin: 0;

  color: #e0e0e0;
  font-size: 15px;
  text-transform: uppercase;
}

.social-media a {
  display: inline-block;
}

.social-media i {
  width: 30px;
  
  color: #fff;
  font-size: 16px;

  line-height: 30px;
}

.register {
  display: inline-block;
  vertical-align: top;
}

form {
  width: 300px;
}

form label {
  display: block;

  margin-bottom: 5px;

  color: #e0e0e0;
  font-size: 15px;
  font-weight: 300;
  
  text-align: left;
}

input {
  display: block;
  
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #fff;
  outline: none;
  
  background-color: #606060;
  color: #fff;
  
  line-height: 25px;
}

input::placeholder {
  color: #fff;
  text-indent: 2px;
} 

form:last-child {
  text-align: right;
}

.register button {
  display: inline-block;

  padding: 5px 15px;
  border: none;
  margin-top: 5px;
  
  background-color: #e0e0e0;
  color: #666;
  font-size: 15px;
}

.register button:hover {
  cursor: pointer;
}

.contact {
  display: inline-block;
  vertical-align: top;
}

.contact p {
  margin: 0;
}

.contact h4 {
  margin: 0;

  color: #e0e0e0;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.contact a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.copyright {
  margin-top: 30px;
  margin-bottom: 0;

  color: #e0e0e0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.copyright a {
  color: #e0e0e0;
  font-family: 'Raleway', sans-serif;
}