body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.content {
    background-color: #535151;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/*------------------------header-------------------------------*/

header {
    width: 1024px;
    margin: 0 auto;
    padding: 40px 0;
    font-family: sans-serif;
    color: #d3d3d3;
}

header span {
    vertical-align: middle;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 150%;
    margin-right: 75px;
}

header ul {
    vertical-align: middle;
    display: inline-block;
}

header li {
    display: inline-block;
}

header a {
    color: #d3d3d3;
    text-decoration: none;
    margin-right: 75px;
}

header a:hover {
    color: white;
}

header img {
    height: 3%;
    width: 3%;
    vertical-align: middle;
}

/*------------------------body-------------------------------*/

.section_topic_content {
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 435px;
    width: 100%;
}

.section_topic {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    width: 35%;
    text-align: center;
    position: relative;
    top: 45%;
    padding: 1% 0 1.5%;
}

.section_topic h1 {
    margin-bottom: 3%;
    font-size: 3rem;
}

.section_topic button {
    background-color: #303132;
    color: white;
    border-style: none;
    padding: 1.5% 7%;
    font-size: 120%;
}

.section_free_shipping {
    font-family: sans-serif;
    background-color: #d3d3d3;
    text-align: center;
    letter-spacing: 3px;
    padding: 1% 0;
    margin-bottom: 5%;
}

.item_title {
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    font-size: 2rem;
}

.item_title_line {
    border-top: 1.5px black solid;
    width: 30px;
    margin: 30px auto;
}

.item_Subtitle {
    font-family: sans-serif;
    letter-spacing: 7px;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 4%;
}

.item_list {
    text-align: center;
    margin-bottom: 7%;
}

.item_list img {
    width: 333px;
    height: 452px;
    margin: 0 1px;
}

/*------------------------footer-------------------------------*/

footer {
    width: 1010px;
    margin: 0 auto;
    padding: 50px 0;
    font-family: sans-serif;
    color: #d3d3d3;
}

.social {
    vertical-align: top;
    display: inline-block;
    width: 335px;
}

.social p {
    letter-spacing: 1px;
    margin-left: 10%;
    margin-bottom: 13px;
}

footer ul {
    margin-left: 10%;
}

footer li {
    display: inline;
    margin: 0 3%;
}

footer a {
    text-decoration: none;
}

footer i {
    font-size: 1.2rem;
    color: white;
}

.e_mail {
    vertical-align: top;
    display: inline-block;
    width: 333px;
}

footer input {
    box-sizing: border-box;
    background-color: #535151;
    color: white;
    border: 1px solid white;
    width: 100%;
    margin: 13px 0;
    padding: 5px;
}

footer button {
    float: right;
    padding: 5px 7px;
}

.assistance {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 13%;
}

.tel {
    margin: 10px 0;
    color: white;
}

.mail {
    color: white;
}

.copyright {
    text-align: center;
    margin: 6% 0;
    letter-spacing: 1px;
}